alembic==1.5.8
autoprefixer==0.1.0
bidict==0.21.2
cachelib==0.1.1
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
click==7.1.2
cryptography==3.4.7
cssmin==0.2.0
dnspython==1.16.0
dominate==2.6.0
eventlet==0.30.2
Flask==1.1.2
Flask-Assets==2.0
Flask-Bootstrap4==4.0.2
Flask-Caching==1.10.1
Flask-Cors==3.0.10
Flask-FlatPages==0.7.3
Flask-HTTPAuth==4.2.0
Flask-Login==0.5.0
Flask-Migrate==2.7.0
Flask-Session==0.3.2
Flask-SocketIO==5.0.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
greenlet==1.0.0
gunicorn==20.1.0
httpie==2.4.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
jsmin==2.2.2
libsass==0.20.1
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==1.1.1
monotonic==1.6
numpy==1.20.2
optional-django==0.3.0
pycparser==2.20
Pygments==2.8.1
PyJWT==2.0.1
PyMySQL==1.0.2
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.17.0
python-editor==1.0.4
python-engineio==3.14.2
python-http-client==3.3.2
python-socketio==4.6.1
PyYAML==5.4.1
requests==2.25.1
requests-toolbelt==0.9.1
sendgrid==6.6.0
six==1.15.0
SQLAlchemy==1.4.8
SQLAlchemy-Utils==0.37.0
starkbank-ecdsa==1.1.0
urllib3==1.26.4
uWSGI==2.0.19.1
visitor==0.1.3
webassets==2.0
websocket-client==0.58.0
Werkzeug==1.0.1
wheatley==0.6.0
WTForms==2.3.3
