/* Global style */
html,
body {
  height: 100%; }

body {
  overflow: hidden;
  font-size: x-large;
  font-family: serif;
  background-color: #F0EAD6; }

/* Putting the ropes in a circle */
/* Mixins to arrange things in a circle easily
/* We need multiple precomputed mixins for different tower sizes */
/* Other positioning */
.rope {
  display: table-cell;
  vertical-align: bottom;
  cursor: pointer; }
  .rope > img {
    display: inline-block;
    vertical-align: bottom;
    width: 5em;
    height: 5em; }
  .rope > .number {
    margin-left: -1em;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: -4px; }
  .rope > .left_number {
    margin-right: -1em;
    margin-left: 0em; }

.treble {
  color: #ff000d; }

#bell-circle {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%); }
  #bell-circle.six {
    width: 25em;
    height: 25em;
    padding: 0;
    border-radius: 50%;
    list-style: none; }
    #bell-circle.six > * {
      position: absolute;
      top: 50%;
      left: 50%; }
      #bell-circle.six > *:nth-of-type(1) {
        transform: rotate(-60deg) translate(12.5em) rotate(60deg); }
        #bell-circle.six > *:nth-of-type(1) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.six > *:nth-of-type(2) {
        transform: rotate(0deg) translate(12.5em) rotate(0deg); }
        #bell-circle.six > *:nth-of-type(2) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.six > *:nth-of-type(3) {
        transform: rotate(60deg) translate(12.5em) rotate(-60deg); }
        #bell-circle.six > *:nth-of-type(3) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.six > *:nth-of-type(4) {
        transform: rotate(120deg) translate(12.5em) rotate(-120deg); }
        #bell-circle.six > *:nth-of-type(4) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.six > *:nth-of-type(5) {
        transform: rotate(180deg) translate(12.5em) rotate(-180deg); }
        #bell-circle.six > *:nth-of-type(5) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.six > *:nth-of-type(6) {
        transform: rotate(240deg) translate(12.5em) rotate(-240deg); }
        #bell-circle.six > *:nth-of-type(6) > * {
          transform: translate(-2.5em, -2.5em); }
  #bell-circle.eight {
    width: 25em;
    height: 25em;
    padding: 0;
    border-radius: 50%;
    list-style: none; }
    #bell-circle.eight > * {
      position: absolute;
      top: 50%;
      left: 50%; }
      #bell-circle.eight > *:nth-of-type(1) {
        transform: rotate(-67.5deg) translate(12.5em) rotate(67.5deg); }
        #bell-circle.eight > *:nth-of-type(1) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.eight > *:nth-of-type(2) {
        transform: rotate(-22.5deg) translate(12.5em) rotate(22.5deg); }
        #bell-circle.eight > *:nth-of-type(2) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.eight > *:nth-of-type(3) {
        transform: rotate(22.5deg) translate(12.5em) rotate(-22.5deg); }
        #bell-circle.eight > *:nth-of-type(3) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.eight > *:nth-of-type(4) {
        transform: rotate(67.5deg) translate(12.5em) rotate(-67.5deg); }
        #bell-circle.eight > *:nth-of-type(4) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.eight > *:nth-of-type(5) {
        transform: rotate(112.5deg) translate(12.5em) rotate(-112.5deg); }
        #bell-circle.eight > *:nth-of-type(5) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.eight > *:nth-of-type(6) {
        transform: rotate(157.5deg) translate(12.5em) rotate(-157.5deg); }
        #bell-circle.eight > *:nth-of-type(6) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.eight > *:nth-of-type(7) {
        transform: rotate(202.5deg) translate(12.5em) rotate(-202.5deg); }
        #bell-circle.eight > *:nth-of-type(7) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.eight > *:nth-of-type(8) {
        transform: rotate(247.5deg) translate(12.5em) rotate(-247.5deg); }
        #bell-circle.eight > *:nth-of-type(8) > * {
          transform: translate(-2.5em, -2.5em); }
  #bell-circle.ten {
    width: 25em;
    height: 25em;
    padding: 0;
    border-radius: 50%;
    list-style: none; }
    #bell-circle.ten > * {
      position: absolute;
      top: 50%;
      left: 50%; }
      #bell-circle.ten > *:nth-of-type(1) {
        transform: rotate(-72deg) translate(12.5em) rotate(72deg); }
        #bell-circle.ten > *:nth-of-type(1) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.ten > *:nth-of-type(2) {
        transform: rotate(-36deg) translate(12.5em) rotate(36deg); }
        #bell-circle.ten > *:nth-of-type(2) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.ten > *:nth-of-type(3) {
        transform: rotate(0deg) translate(12.5em) rotate(0deg); }
        #bell-circle.ten > *:nth-of-type(3) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.ten > *:nth-of-type(4) {
        transform: rotate(36deg) translate(12.5em) rotate(-36deg); }
        #bell-circle.ten > *:nth-of-type(4) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.ten > *:nth-of-type(5) {
        transform: rotate(72deg) translate(12.5em) rotate(-72deg); }
        #bell-circle.ten > *:nth-of-type(5) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.ten > *:nth-of-type(6) {
        transform: rotate(108deg) translate(12.5em) rotate(-108deg); }
        #bell-circle.ten > *:nth-of-type(6) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.ten > *:nth-of-type(7) {
        transform: rotate(144deg) translate(12.5em) rotate(-144deg); }
        #bell-circle.ten > *:nth-of-type(7) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.ten > *:nth-of-type(8) {
        transform: rotate(180deg) translate(12.5em) rotate(-180deg); }
        #bell-circle.ten > *:nth-of-type(8) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.ten > *:nth-of-type(9) {
        transform: rotate(216deg) translate(12.5em) rotate(-216deg); }
        #bell-circle.ten > *:nth-of-type(9) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.ten > *:nth-of-type(10) {
        transform: rotate(252deg) translate(12.5em) rotate(-252deg); }
        #bell-circle.ten > *:nth-of-type(10) > * {
          transform: translate(-2.5em, -2.5em); }
  #bell-circle.twelve {
    width: 25em;
    height: 25em;
    padding: 0;
    border-radius: 50%;
    list-style: none; }
    #bell-circle.twelve > * {
      position: absolute;
      top: 50%;
      left: 50%; }
      #bell-circle.twelve > *:nth-of-type(1) {
        transform: rotate(-75deg) translate(12.5em) rotate(75deg); }
        #bell-circle.twelve > *:nth-of-type(1) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.twelve > *:nth-of-type(2) {
        transform: rotate(-45deg) translate(12.5em) rotate(45deg); }
        #bell-circle.twelve > *:nth-of-type(2) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.twelve > *:nth-of-type(3) {
        transform: rotate(-15deg) translate(12.5em) rotate(15deg); }
        #bell-circle.twelve > *:nth-of-type(3) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.twelve > *:nth-of-type(4) {
        transform: rotate(15deg) translate(12.5em) rotate(-15deg); }
        #bell-circle.twelve > *:nth-of-type(4) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.twelve > *:nth-of-type(5) {
        transform: rotate(45deg) translate(12.5em) rotate(-45deg); }
        #bell-circle.twelve > *:nth-of-type(5) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.twelve > *:nth-of-type(6) {
        transform: rotate(75deg) translate(12.5em) rotate(-75deg); }
        #bell-circle.twelve > *:nth-of-type(6) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.twelve > *:nth-of-type(7) {
        transform: rotate(105deg) translate(12.5em) rotate(-105deg); }
        #bell-circle.twelve > *:nth-of-type(7) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.twelve > *:nth-of-type(8) {
        transform: rotate(135deg) translate(12.5em) rotate(-135deg); }
        #bell-circle.twelve > *:nth-of-type(8) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.twelve > *:nth-of-type(9) {
        transform: rotate(165deg) translate(12.5em) rotate(-165deg); }
        #bell-circle.twelve > *:nth-of-type(9) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.twelve > *:nth-of-type(10) {
        transform: rotate(195deg) translate(12.5em) rotate(-195deg); }
        #bell-circle.twelve > *:nth-of-type(10) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.twelve > *:nth-of-type(11) {
        transform: rotate(225deg) translate(12.5em) rotate(-225deg); }
        #bell-circle.twelve > *:nth-of-type(11) > * {
          transform: translate(-2.5em, -2.5em); }
      #bell-circle.twelve > *:nth-of-type(12) {
        transform: rotate(255deg) translate(12.5em) rotate(-255deg); }
        #bell-circle.twelve > *:nth-of-type(12) > * {
          transform: translate(-2.5em, -2.5em); }

/* Call display */
h2#call-display {
  position: absolute;
  text-align: center;
  display: inline-block;
  height: 4em;
  top: 50%;
  left: 40%;
  transform: translate(-40%, -50%); }

/* Tower controls */
h2.tower-name {
  padding-left: 0.5em;
  margin-bottom: -0.5em;
  opacity: 0.75; }

.tower-id {
  padding-left: 0.5em;
  margin-bottom: -0.5em;
  font-size: small;
  opacity: 0.75; }

.tower-control-size {
  padding-left: 0.5em; }
  .tower-control-size li {
    cursor: pointer;
    padding-left: 0em;
    list-style-type: none;
    display: inline;
    margin: 0.5em;
    margin-left: 0.25em;
    font-size: x-large;
    opacity: 0.75; }

.tower-control {
  padding-left: 0.5em; }

.audio-toggle {
  padding-left: 1em;
  font-size: smaller;
  opacity: 0.75;
  margin-top: -0.7em;
  cursor: pointer; }

/* help bar */
#help {
  position: absolute;
  top: 5%;
  left: 70%;
  width: 25em;
  opacity: 0.25;
  font-size: large; }

/*# sourceMappingURL=style.scss.css.map */