
/* Global style */

body {
  font-size: x-large;
  font-family: serif;
  background-color: #F0EAD6;
}

.title {
	position: absolute;
	left: 50%;
	top: 15%;

	transform: translate(-50%);

	font-size: xx-large;
	font-weight: bold;

	text-align: center;


}

.welcome, .tagline {
	margin: 0.5em;
	font-size: x-large;
	font-weight: normal;
}





form.pure-form { 
  position: absolute;
  width: 19em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pure-input {
	width: 14em;

}

.pure-form {
	width: 40%;

}

fieldset {
	white-space: nowrap;
}

#join-message {
	width: 100%;
	font-size: smaller;

}


.copy {
	padding-top: 2em;
	font-size: smaller;

	li {

		padding-top: 0.5em;

	}
}

.pure-menu {
	// position: absolute;
	// top: 15%;
	// left: 5%;
	display: inline-block;
	font-size: x-large;
}

.pure-menu-link {
	padding: 0.44em 0.5em;
}

.home {
	font-weight: bold;
	border-bottom: 3px solid;
	padding: 0px;
	padding-bottom: 0.44em;
	margin: 0.44em 0.5em;
	margin-bottom: 0em;
}

