
/* Global style */

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  font-size: x-large;
  font-family: serif;
  background-color: #F0EAD6;
}



/* Putting the ropes in a circle */

/* Mixin to arrange things in a circle easily */
@mixin on-circle($item-count, $circle-size, $img-size) {
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none;

  > * {
    position: absolute;
    top:  50%; 
    left: 50%;
    // width:  0;
    // height: 0;
	// border: 0;
  
    $angle: (360 / $item-count);
    $rot: -3*$angle/2;

	@for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: 
          rotate($rot * 1deg) 
          translate($circle-size / 2) 
          rotate($rot * -1deg);

		  > * {
			  transform: translate(-$img-size/2,-$img-size/2);
		  }
      }

      $rot: $rot + $angle;
    }
    }
}

.rope {
	display: table-cell;
	vertical-align: bottom;
	> img {
		display: inline-block;
		vertical-align: bottom;
		width: 5em;
		height: 5em;
	}
	> .number {
		margin-left: -1em;
		display: inline-block;
		vertical-align: bottom;
		margin-bottom: -4px;
	}
	> .left_number {
		margin-right: -1em;
		margin-left: 0em;
	}
}

.treble {
	color: #ff000d;

}



.rope-img {
	// transform: translate(-50%,-50%);
}


#bell-circle {
  @include on-circle($item-count: 8, $circle-size: 25em, $img-size: 5em); 
  // margin: 5em auto 0;
  // border: solid 5px tomato;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Call display */

h2#call-display {
	position: absolute;
	text-align: center;
	display: inline-block;
	height:4em;
	top: 50%;
	left: 50%;
	transform: translate(-40%, -50%);

}


/* Tower controls */


.tower-control {
	list-style-type: none;
	display: inline;
	margin: 0.5em;
	font-size: x-large;
	opacity: 0.5;

}
