
/* Global style */

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  font-size: x-large;
  font-family: serif;
  background-color: #F0EAD6;
}



/* Putting the ropes in a circle */

/* Mixins to arrange things in a circle easily
/* We need multiple precomputed mixins for different tower sizes */
@mixin on-circle($item-count, $circle-size, $img-size) {
  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none;

  > * {
    position: absolute;
    top:  50%; 
    left: 50%;
    // width:  0;
    // height: 0;
	// border: 0;
  
    $angle: (360 / $item-count);
	$rot: 0; // initialize for scope

	@if $item-count == 6 { $rot: -1*$angle; }
	@if $item-count == 8 { $rot: -3*$angle/2; }
	@if $item-count == 10 { $rot: -2*$angle; }
	@if $item-count == 12 { $rot: -5*$angle/2; }


	@for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: 
          rotate($rot * 1deg) 
          translate($circle-size / 2) 
          rotate($rot * -1deg);

		  > * {
			  transform: translate(-$img-size/2,-$img-size/2);
		  }
      }

      $rot: $rot + $angle;
    }
    }
}


@mixin on-circle-six($circle-size, $img-size){
	@include on-circle(6, $circle-size, $img-size);
}

@mixin on-circle-eight($circle-size, $img-size){
	@include on-circle(8, $circle-size, $img-size);
}

@mixin on-circle-ten($circle-size, $img-size){
	@include on-circle(10, $circle-size, $img-size);
}

@mixin on-circle-twelve($circle-size, $img-size){
	@include on-circle(12, $circle-size, $img-size);
}

/* Other positioning */

.rope {
	display: table-cell;
	vertical-align: bottom;
    cursor: pointer;
	> img {
		display: inline-block;
		vertical-align: bottom;
		width: 5em;
		height: 5em;
	}
	> .number {
		margin-left: -1em;
		display: inline-block;
		vertical-align: bottom;
		margin-bottom: -4px;
	}
	> .left_number {
		margin-right: -1em;
		margin-left: 0em;
	}
}

.treble {
	color: #ff000d;

}

#bell_circle {
  $circ-size: 25em;
  $img-size: 5em;


  // margin: 5em auto 0;
  // border: solid 5px tomato;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.six   { @include on-circle-six($circ-size,$img-size); }
  &.eight { @include on-circle-eight($circ-size,$img-size); }
  &.ten { @include on-circle-ten($circ-size,$img-size); }
  &.twelve { @include on-circle-twelve($circ-size,$img-size); }
}


/* Call display */

h2#call_display {
	position: absolute;
	text-align: center;
	display: inline-block;
	height:4em;
	top: 50%;
	left: 50%;
	transform: translate(-40%, -50%);

}


/* Tower controls */

h2.tower_name {
  padding-left: 0.5em;
  margin-bottom: -0.5em;
  opacity: 0.75;
}

.tower_id {
  padding-left: 0.5em;
  margin-bottom: -0.5em;
  font-size: small;
  opacity: 0.75;
}

.tower_control_size {
  padding-left: 0.5em;
  li {
    cursor: pointer;
    padding-left: 0em;
    list-style-type: none;
    display: inline;
    margin: 0.5em;
    margin-left: 0.25em;
    font-size: x-large;
    opacity: 0.75;
  }

}

.tower_control{
  padding-left:0.5em;
}

.audio_toggle{
  padding-left:1em;
  font-size: smaller;
  opacity: 0.75;
  margin-top: -0.7em;
  cursor: pointer;

}

/* help bar */

#help {
  position: absolute;
  top: 5%;
  left: 70%;
  width: 25em;
  opacity: 0.25;
  font-size: large;
}
