/* Mixin to arrange things in a circle easily */
@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%; 
  list-style: none;       
  
  > * {
    display: block;
    position: absolute;
    top:  50%; 
    left: 50%;
    width:  0;
    height: 0;
    margin: -1%; // hack for marginally better alignment
	border: 0;
  
    $angle: (360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
		  span.bell-number {
				display:block;
				position:absolute;
				top:  50%; 
				left: 50%;
				width:  0;
				height: 0;
				margin: 0;
				transform: 
				  rotate($rot * 1deg) 
				  translate($circle-size / 2) 
				  rotate($rot * -1deg);
			  }
		  span.rope {
				display:block;
				position:absolute;
				top:  50%; 
				left: 50%;
				width:  0;
				height: 0;
				margin: 0;
				transform: 
				  rotate($rot * 1deg) 
				  translate($circle-size / 2 + $item-size) 
				  rotate($rot * -1deg);
			  }
		  }
      $rot: $rot + $angle;
    }
  }
}


html,
body {
  height: 100%;
}

body {
  overflow: hidden;
}

#bell-circle {
  @include on-circle($item-count: 8, $circle-size: 40em, $item-size: 6em); 
  // margin: 5em auto 0;
  // border: solid 5px tomato;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
