/* Error: Undefined mixin.
 *     ,
 * 113 | / @include media-breakpoint-up(xs) {
 * 114 | |     @include bell_circle_margin(28vh,50vw,30vh);
 * 115 | |     .bell_img {
 * 116 | |         width: 1.5rem;
 * 117 | |     }
 * 118 | |     .handbell .bell_img{
 * 119 | |         width: 2rem;
 * 120 | |     }
 * 121 | |     .handbell .bell_metadata {
 * 122 | |         margin-left: 0.25rem;
 * 123 | |         margin-right: 0.25rem;
 * 124 | |     }
 * 125 | \ }
 *     '
 *   app/static/sass/circle.scss 113:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 113 \2502  \250c  @include media-breakpoint-up(xs) {\a 114 \2502  \2502      @include bell_circle_margin(28vh,50vw,30vh);\a 115 \2502  \2502      .bell_img {\a 116 \2502  \2502          width: 1.5rem;\a 117 \2502  \2502      }\a 118 \2502  \2502      .handbell .bell_img{\a 119 \2502  \2502          width: 2rem;\a 120 \2502  \2502      }\a 121 \2502  \2502      .handbell .bell_metadata {\a 122 \2502  \2502          margin-left: 0.25rem;\a 123 \2502  \2502          margin-right: 0.25rem;\a 124 \2502  \2502      }\a 125 \2502  \2514  }\a     \2575 \a   app/static/sass/circle.scss 113:1  root stylesheet";
}
