/* Import fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&family=Simonetta:wght@400;900&display=swap');

/* Change sass variables */

// set default background color
$body-bg: #fbfbff;
// set default font color
$body-color: #0d0a0b;
$text-color: #0d0a0b;

$dark: #b2276e;

$primary: #b2276e;
$secondary: #0d0a0b;
$list-group-color: #0d0a0b;
$list-group-action-hover-color: #0d0a0b;
$text-muted: #454955;
$input-color: #454955;

/* Import bootstrap */
@import "../bootstrap/scss/bootstrap";

.cookiealert{
    position: fixed;
    bottom: 0;
    background-color: #454955;
}

.cookiealert a {
    text-decoration: none;
}

/* Global Styling */

html {
    height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
}

/* Font Styling */

h1, h2, h3, h4 {
    font-weight: bold;
}

// overall title styling
.title {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 100;
}

.iframe-container {
  overflow: hidden;
  // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
  padding-top: 56.25%;
  position: relative;
}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

ul li {
    margin-top: 0.5rem;
}
