
/* Global style */

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  font-size: x-large;
  font-family: serif;
  background-color: #F0EAD6;
}



/* Putting the ropes in a circle */

/* Mixins to arrange things in a circle easily
/* We need multiple precomputed mixins for different tower sizes */
@mixin on-circle($item-count, $circle-size, $img-size) {
  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none;

  > * {
    position: absolute;
    top:  50%; 
    left: 50%;
    // width:  0;
    // height: 0;
	// border: 0;
  
    $angle: (360 / $item-count);
	$rot: 0; // initialize for scope

    @if $item-count == 4 { $rot: -1*$angle/2; }
	@if $item-count == 6 { $rot: -1*$angle; }
	@if $item-count == 8 { $rot: -3*$angle/2; }
	@if $item-count == 10 { $rot: -2*$angle; }
	@if $item-count == 12 { $rot: -5*$angle/2; }


	@for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: 
          rotate($rot * 1deg) 
          translate($circle-size / 2) 
          rotate($rot * -1deg);

		  > * {
			  transform: translate(-$img-size/2,-$img-size/2);
		  }
      }

      $rot: $rot + $angle;
    }
    }
}

@mixin on-circle-four($circle-size, $img-size){
	@include on-circle(4, $circle-size, $img-size);
}

@mixin on-circle-six($circle-size, $img-size){
	@include on-circle(6, $circle-size, $img-size);
}

@mixin on-circle-eight($circle-size, $img-size){
	@include on-circle(8, $circle-size, $img-size);
}

@mixin on-circle-ten($circle-size, $img-size){
	@include on-circle(10, $circle-size, $img-size);
}

@mixin on-circle-twelve($circle-size, $img-size){
	@include on-circle(12, $circle-size, $img-size);
}


// Now, position the bell_circle
#bell_circle {
  $circ-size: 25em;
  $img-size: 5em;


  // margin: 5em auto 0;
  // border: solid 5px tomato;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);

  &.four   { @include on-circle-four($circ-size,$img-size); }
  &.six    { @include on-circle-six($circ-size,$img-size); }
  &.eight  { @include on-circle-eight($circ-size,$img-size); }
  &.ten    { @include on-circle-ten($circ-size,$img-size); }
  &.twelve { @include on-circle-twelve($circ-size,$img-size); }
}

/* Other positioning */

// Position rope images and their numbers
.rope {
	display: table-cell;
	vertical-align: bottom;
    cursor: pointer;
	> img {
		display: inline-block;
		vertical-align: bottom;
		width: 5em;
		height: 5em;
	}
	> .number {
		margin-left: -1em;
		display: inline-block;
		vertical-align: top;
		margin-bottom: -4px;
        &.cur_user{
            color: blue;
        }
	}
	> .left_number {
      margin-right: -1em;
      margin-left: -4em;
      text-align: right;
	}
}

// make the treble number red
.number.treble, .number.treble.cur_user {
	color: #ff000d;
}


/* Call display */

h2#call_display {
	position: absolute;
	text-align: center;
	display: inline-block;
	height:4em;
	top: 50%;
	left: 50%;
	transform: translate(-40%, -50%);
}


/* Tower controls */

.tower_control{
  padding-top:5px;
  padding-left:15px;
}

.tower_name {
  padding-left: 0.5em;
  margin-bottom: -0.5em;
  opacity: 0.75;
}

.tower_id {
  padding-left: 0.5em;
  margin-bottom: -0.5em;
  font-size: small;
  opacity: 0.75;
}

.tower_control_size {
  padding-left: 0.5em;
  li {
    cursor: pointer;
    padding-left: 0em;
    list-style-type: none;
    display: inline;
    margin: 0.5em;
    margin-left: 0.25em;
    font-size: x-large;
    opacity: 0.75;
  }

}

.audio_toggle{
  padding-left:1em;
  font-size: smaller;
  opacity: 0.75;
  margin-top: -0.7em;
  cursor: pointer;
}

/* help bar */
.help {
  cursor: pointer;
  position: absolute;
  top: 5%;
  left: 60%;
  width: 20em;
  opacity: 1;
  font-size: large;
  display: inline-block;
}

.help_showing {
  opacity: 1.0;
  border: 1px solid black;
  background-color: aliceblue;
  padding: 5px;
}


/* User Display */

.user_display {

    padding: 15px;
}

.user_display_title {
  padding-left: 0.75em;
  opacity: 0.75;
  display: inline;
}

.toggle_assign {
  cursor: pointer;
  margin-left: 0.5em;
  margin-bottom: -0.5em;
  padding: 0.3em;
  border-style: solid;
  border-width: 1pt;
  border-color: black;
  border-radius: 5pt;
  font-size: small;
  opacity: 0.75;
  &.active{
      background: rgba(255,0,0,0.3);

  }
}

.user_list {
    
  border-width: 2px;
  border-left-style: solid;
  padding-left: 0px;
  margin-top: 0px;
  margin-left: 1em;
  margin-top: 0.5em;

  li {
    margin-left: 0.5em;
    padding-left: 0.25em;
    padding-bottom:0.25em;
    list-style-type: none;
    font-size: x-large;
    opacity: 0.75;
    width: 3em;
    border-radius: 5pt; 

    &.assignment_active{
        cursor: pointer;

        &.selected_user{
    background: rgba(0, 0, 255, 0.3);
        }
    }
  }

}

.user_list .cur_user {
    font-weight: bold;
}



.assigned_user{
   width: 5em; 

   &.cur_user{
       color: blue;
   }
}





