@import "global_design";

// whole page width of static
.container {
    max-width: 65rem;
}

// content container for e.g. text
.content_container {
    position: relative;
    text-align: left;
    max-width: 57rem;
    padding-top: 20px;
    min-height: 100%;
}

// the whole navbar
.navbar {
    margin-bottom: 0;
}


.centered_block {
    width: 25rem;
    margin-top: max(10rem, 22vh);

}


.dropdown-toggle::after{
    vertical-align: middle;
}

// the element that is the Ringing Room brand/logo
.navbar-brand {
    font-family: 'Simonetta', cursive;
    font-weight: bold;
}

// make the navbar a bit higher contrast
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,0.75);
    font-weight: 400;
    font-size: 1.25rem;
}

.navbar-dark .navbar-brand {
    font-size: 1.5rem;
}

.navbar-brand-text {
    vertical-align: -0.25;

}

// for the top page of Ringing Room
.title h1 {
    font-family: 'Simonetta', cursive;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0.6rem;
    font-style: normal;
    font-size: 3.5rem;
}

// blueline/grid circle
.grid_circle {
    display: relative;
    width: max(49rem, 90vh);
    position:absolute;
    top: max(25rem, 45vh);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#join-message {
    font-size: 1.25rem;
    line-height: 1.75rem;

}
/* Stuff for the BBC alert */

#toast_column {
    position: relative;
    top: 7rem;
    left: 50%;
    transform: translate(-50%);
    width: 25rem;
    opacity: 1;
    z-index: 0;
}

.toast {
    font-size: 1.25rem;
    backdrop-filter: none;
    background-color: $body-bg;

    .close {
        color: $body-bg;
        text-shadow: none;

    }
}

.toast .toast-body{
    padding:  0.75rem 1.25rem;

}

.toast .toast-header {
    background-color: $primary;
    color: $body-bg;
}

@include media-breakpoint-up(md) {
    #toast_column {
        position: fixed;
        left:unset;
        transform: unset;
        right: 1rem;
    }
}
@include media-breakpoint-up(xl){
    #toast_column{
        right: 15vw;
    }
    .toast {
        box-shadow: none;
    }

}

.toast{
    .modal-header {
        background-color: $primary;
        color: #fbfbff;
        .close {
            color: #fbfbff;
            text-shadow: none;
        }
    }
}

