@import "global_design";

// whole page width of static
.container {
    max-width: 50rem;
}

// content container for e.g. text
.content_container {
    text-align: left;
    max-width: 45rem;
    padding-top: 20px;
    height: 100vh;
}

// the whole navbar
.navbar {
    margin-bottom: 0;
}

/*
// the navbar with text in
.navbar-light .navbar-nav .nav-link {
    color: orange;
}

.navbar-light .navbar-brand {
    color: teal;
}
*/

// the element that is the Ringing Room brand/logo
.navbar-brand {
    font-family: 'Simonetta', cursive;
    font-weight: bold;
}

// for the top page of Ringing Room
.title h1 {
    font-family: 'Simonetta', cursive;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0.4rem;
    font-style: normal;
}

// blueline/grid circle
.grid_circle {
    display: relative;
    width: 105vh;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
