<!doctype html>
<html>
  <head>

    <title>Ringing Room</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static', filename = 'css/landing.scss.css')}}">

    <script src="https://unpkg.com/vue"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>

  <script src="{{url_for('static', filename = 'landing.js') }}"></script>


  <!-- Favicon nonsense -->
  <link rel="icon" type="image/png" 
        href="{{url_for('static', filename = 'images/favicon/favicon-196x196.png')}}" 
        sizes="196x196" />
  <link rel="icon" type="image/png" 
        href="{{url_for('static', filename = 'images/favicon/favicon-96x96.png')}}" 
        sizes="96x96" />
  <link rel="icon" type="image/png" 
        href="{{url_for('static', filename = 'images/favicon/favicon-32x32.png')}}" 
        sizes="32x32" />
  <link rel="icon" type="image/png" 
        href="{{url_for('static', filename = 'images/favicon/favicon-16x16.png')}}" 
        sizes="16x16" />
  <link rel="icon" type="image/png" 
        href="{{url_for('static', filename = 'images/favicon/favicon-128.png')}}" 
        sizes="128x128" />

  </head>

  <body>


    <div class="pure-g">

    <div class="pure-u-1-4 nav">
    <div class="pure-menu">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/" class="pure-menu-link
            home">Ringing Room</a></li>
        <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
        <li class="pure-menu-item"><a href="/help" class="pure-menu-link">Help</a></li>
        <li class="pure-menu-item"><a href="/contact"
            class="pure-menu-link">Contact</a></li>
        <li class="pure-menu-item"><a href="/donate"
            class="pure-menu-link">Donate</a></li>
    </ul>
  </div>
    </div>



    <div class="pure-u-2-5 copy">

      <h3>The site</h3>

      <p>

Welcome to the Ringing Room! This is a site built for change ringers to continue ringing with one another even when socially distanced. 

      </p>

      <p>

It is under development currently, and new features may show up with little
warning. Keep an eye on this space! And please <a href="/contact">contact us</a> if you notice any bugs.

      It is under development currently, and new features may show up with little
      warning. Keep an eye on this space!

      </p>

      <h3> The developers </h3>

      <p>
The Ringing Room is a joint venture by Leland Paul Kusmer and Bryn Marie Reinstadler, both ringers in the Boston, Massachusetts area.

      </p>


    </div>
    </div>


  </body>


</html>
