<!doctype html>
<html>
  <head>

    <title>Virtual Ringing Room</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.scss.css')}}">

    <script src="https://unpkg.com/vue"></script>
    <script src="{{url_for('static',filename='howler.core.min.js')}}"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>
  <script src="{{url_for('static', filename = 'scripts.js')}}"></script>

  </head>

  <body>

    <!-- <div class='spacer'></div> -->
    <div id="ringing-circle">
      <!-- app will go here -->
    </div>

  </body>


</html>
