<!doctype html>
<html>
  <head>

    <title>Ringing Room — {{ tower_name }}</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.scss.css') 
                                                            + '?nocache202003311353'}}">

    <script src="https://unpkg.com/vue"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{url_for('static',filename='howler.core.min.js')}}"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>

  <script src="{{url_for('static', filename = 'scripts.js') + '?nocache202003311353'}}"></script>


  <!-- Favicon nonsense -->
  <link rel="icon" type="image/png" 
        href="{{url_for('static', filename = 'images/favicon/favicon-196x196.png')}}" 
        sizes="196x196" />
  <link rel="icon" type="image/png" 
        href="{{url_for('static', filename = 'images/favicon/favicon-96x96.png')}}" 
        sizes="96x96" />
  <link rel="icon" type="image/png" 
        href="{{url_for('static', filename = 'images/favicon/favicon-32x32.png')}}" 
        sizes="32x32" />
  <link rel="icon" type="image/png" 
        href="{{url_for('static', filename = 'images/favicon/favicon-16x16.png')}}" 
        sizes="16x16" />
  <link rel="icon" type="image/png" 
        href="{{url_for('static', filename = 'images/favicon/favicon-128.png')}}" 
        sizes="128x128" />

  </head>

  <body>

    <div>
    <!-- <div class='spacer'></div> -->
    <div id="ringing-circle">
      <!-- app will go here -->
    </div>
    </div>
    <div id="help">
      <p>
        On the top left, you may set the number of bells in the tower by clicking the
        desired number. To ring, you may either click on the ropes or use the following hot-keys:
      </p>

      <ul>
        <li> <b>[1-0], [-], [=]:</b> Rings bells 1 - 10, 11, and 12
        <li><b>[SPACE]:</b> Rings the bell in the lower right corner.
        <li><b>[LEFT] and [RIGHT] arrow keys:</b> Rings the left and right bottom-most bells.
        <li><b>[f] and [j]:</b> same as [LEFT] and [RIGHT]
        <li><b>[SHIFT]+[#]:</b> Rotate the "perspective" of the ringing room to
          put bell '#' in the lower right corner so it may be rung by
          [SPACE] or [j].
      </ul>
    </div>
  </body>


</html>
