<div class="toast" id="bbc_alert" role="alert" data-autohide="false" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <strong class="mr-auto">Saw us on the BBC?</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
      New to change ringing? 
      Click <a href="#" 
               data-toggle="modal" 
               data-target="#bbc_modal">here</a> to learn how to get started.
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="bbc_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="bbc_modal_title">Ringing Room: A Virtual Change-Ringing Platform</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-4">

          <div class="iframe-container mb-4 mt-2">
          <iframe src="https://www.youtube.com/embed/l0mYK8QQx8w" allowfullscreen></iframe>
          </div>

          <p> <b>Welcome to Ringing Room!</b> The video above will give you an introduction to English change-ringing and to Ringing Room, a virtual platform used by change-ringers all over the world. You can learn more about change-ringing <a href="http://www.nagcr.org/pamphlet.html">here</a>.</p>
            
          <p> <b>Want to give it a go?</b> Click <a href="https://ringingroom.com/987654321/the_bbc1_news_tower">here</a> to join a tower specifically for BBC viewers. Or, if you'd like a more guided experience, we have friendly, helpful ringers running guided lessons through the week. The times are posted below, and also on our <a href="https://www.facebook.com/ringingroom/">Facebook page</a>.
           
        <p> Please feel free to reach out on <a href="https://www.facebook.com/ringingroom/">Facebook</a> or by <a href="mailto://ringingroom@gmail.com">email</a>. Looking forward to seeing you up the tower! </p>


        <h4>Open practices:</h4>
        <div id="practice_times"></div>

            <script>
                var cachebuster = Math.round(new Date().getTime() / 1000);
                $('document').ready(function(){
                    $('#practice_times').load('static/news/practice_times.txt?cb=' + cachebuster);
                });
            </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
