<p>We expect that you will be a courteous member of the tower chat, and that your actions will reflect well on the values of the ringing community in general. Be kind, be encouraging, be polite, and be generous in your interpretation of what each other's comments might mean.</p>

<p>If someone is not upholding these values, please report the behavior to us using the "Report behavior" link at the bottom of the chat box. We will do our best to address your concerns; this process may involve a period of mediation (not including the reporter) or it may involve other actions on the part of the moderation team.</p>

<p>Certain behaviors will <b>never</b> be tolerated on Ringing Room and will result in an immediate ban of the reported individual. These behaviors include: threatening violence or harm of any kind, harassment, verbal assault, racism, homophobia, and transphobia.</p>
