<p>We expect that you will be a courteous member of the tower chat, and that your actions will reflect well on the values of the ringing community in general. Be kind, be encouraging, be polite, and be generous in your interpretation of what each other's comments might mean.</p>

<p>If someone is not upholding these values, please report the behavior to us using the "Report behavior" link at the bottom of the chat box. We will do our best to address your concerns; this process may involve a period of mediation (not including the reporter) or it may involve other actions on the part of the moderation team.</p>

<p>Certain behaviors will <b>never</b> be tolerated on Ringing Room and will result in an immediate ban of the reported individual. These behaviors include: threatening violence or harm of any kind, harassment, verbal assault, racism, homophobia, and transphobia.</p>

<p><h3>Chatroom Advice from the Safeguarding Officer (adapted by RR)</h3></p>

<p>Ringing Room is a wonderful facility for ringing, but do remember that there are some potential dangers involved in any online activity.</p>

<p>Some people use the internet and such rooms as a method to gain contact with vulnerable individuals, including children, and subsequently enter into inappropriate and illegal relationships, as they can create false identities and remain anonymous. This is known as 'grooming', which involves using deceiving techniques to entice them to meet. These may include building trust using different personas.</p>

<p>There is a government website which gives a more comprehensive overview of this activity and has a version for parents and children which sets out the possible dangers of communicating with strangers online and how to make chatrooms a safer place to be - https://www.thinkuknow.co.uk/</p>

<p>A few basic tips are:</p>

<ul>
<li>Never give out any personal details</li>
<li>Always be wary; some users on the internet are not who they say they are</li>
<li>Never arrange to meet anyone you have met through a chatroom – always take the advice of a parent or adult friend you know, if you are approached to do so</li>
<li>Never give your password to anyone and don't use the same password for multiple accounts</li>
</ul>

