{% if not modal %}

<div class="toast" role="alert" data-autohide="false" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
      <strong class="mr-auto">{% block toast_title %}{% endblock %}</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body" style="color: black">
      {% block toast_body %} {%endblock %}
  </div>
</div>

{% else %}

<!-- Modal -->
<div class="modal fade" id="modal_{{modal_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" id="modal_title" style="color: black">{% block modal_title %}{% endblock %}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-4" style="color: black">


          {% block modal_body %}{% endblock %}


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endif %}
