<!-- Load mousetrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.5/mousetrap.min.js" integrity="sha512-+Jg3Ynmj9hse704K48H6rBBI3jdNBjReRGBCxUWFfOz3yVurnJFWtAWssDAsGtzWYw89xFWPxShuj2T6E9EOpg==" crossorigin="anonymous"></script>

<!-- bind tower data -->
<script>
window.tower_parameters = {
    id: parseInt({{tower.tower_id}}),
    name: "{{tower.name | safe}}",
    audio: "{{tower.audio}}",
    size: parseInt({{tower.n_bells}}),
    observers: parseInt({{tower.observers}}),
    assignments: {{tower.assignments_as_list() | safe }},
    sizes_available: {{ [4,5,6,8,10,12,14,16] if tower.additional_sizes_enabled else [4,6,8,10,12]}},
    cur_user_id: "{{user_id}}",
    cur_user_name: "{{user_name}}",
    cur_user_email: "{{user_email}}",
    cur_user_badge: "{{user_badge if user_badge else ''}}",
    anonymous_user: {{'true' if current_user.is_anonymous or listen_link else 'false'}},
    user_token: "{{user_token}}",
    host_mode_permitted: {{'true' if tower.host_mode_enabled else 'false'}},
    host_mode: {{'true' if tower.host_mode else 'false'}},
    host_permissions: {{'true' if host_permissions else 'false'}},
    half_muffled: {{'true' if tower.half_muffled else 'false'}},
    anticlockwise: {{'true' if tower.anticlockwise else 'false'}},
    bookmarked: {{'true' if current_user.is_authenticated and current_user.bookmarked(tower.tower_id) else 'false'}},
    listen_link: {{'true' if listen_link else 'false'}},
    server_ip: "{{server_ip}}",
    cow_enabled: {{'true' if cow_enabled else 'false'}},
};


_bind_hotkeys = function(bell_obj) {

    // Escape to unfocus chatbox
    Mousetrap.bind('escape',  () => {if ($("#chat_input_box").is(":focus")) $("#chat_input_box").blur();});
    // shift+s to set at hand
    Mousetrap.bind({{user_settings['set_at_hand'] | safe }}, bell_obj.set_bells_at_hand);
    // Ring specific bell
    Mousetrap.bind({{user_settings['1'] | safe}}, ()=>bell_obj.pull_rope(1))
    Mousetrap.bind({{user_settings['2'] | safe}}, ()=>bell_obj.pull_rope(2))
    Mousetrap.bind({{user_settings['3'] | safe}}, ()=>bell_obj.pull_rope(3))
    Mousetrap.bind({{user_settings['4'] | safe}}, ()=>bell_obj.pull_rope(4))
    Mousetrap.bind({{user_settings['5'] | safe}}, ()=>bell_obj.pull_rope(5))
    Mousetrap.bind({{user_settings['6'] | safe}}, ()=>bell_obj.pull_rope(6))
    Mousetrap.bind({{user_settings['7'] | safe}}, ()=>bell_obj.pull_rope(7))
    Mousetrap.bind({{user_settings['8'] | safe}}, ()=>bell_obj.pull_rope(8))
    Mousetrap.bind({{user_settings['9'] | safe}}, ()=>bell_obj.pull_rope(9))
    Mousetrap.bind({{user_settings['10'] | safe}}, ()=>bell_obj.pull_rope(10))
    Mousetrap.bind({{user_settings['11'] | safe}}, ()=>bell_obj.pull_rope(11))
    Mousetrap.bind({{user_settings['12'] | safe}}, ()=>bell_obj.pull_rope(12))
    Mousetrap.bind({{user_settings['13'] | safe}}, ()=>bell_obj.pull_rope(13))
    Mousetrap.bind({{user_settings['14'] | safe}}, ()=>bell_obj.pull_rope(14))
    Mousetrap.bind({{user_settings['15'] | safe}}, ()=>bell_obj.pull_rope(15))
    Mousetrap.bind({{user_settings['16'] | safe}}, ()=>bell_obj.pull_rope(16))
    //Rotate to bell
    Mousetrap.bind({{user_settings['rotate-1'] | safe}}, ()=>bell_obj.rotate(1))
    Mousetrap.bind({{user_settings['rotate-2'] | safe}}, ()=>bell_obj.rotate(2))
    Mousetrap.bind({{user_settings['rotate-3'] | safe}}, ()=>bell_obj.rotate(3))
    Mousetrap.bind({{user_settings['rotate-4'] | safe}}, ()=>bell_obj.rotate(4))
    Mousetrap.bind({{user_settings['rotate-5'] | safe}}, ()=>bell_obj.rotate(5))
    Mousetrap.bind({{user_settings['rotate-6'] | safe}}, ()=>bell_obj.rotate(6))
    Mousetrap.bind({{user_settings['rotate-7'] | safe}}, ()=>bell_obj.rotate(7))
    Mousetrap.bind({{user_settings['rotate-8'] | safe}}, ()=>bell_obj.rotate(8))
    Mousetrap.bind({{user_settings['rotate-9'] | safe}}, ()=>bell_obj.rotate(9))
    Mousetrap.bind({{user_settings['rotate-10'] | safe}}, ()=>bell_obj.rotate(10))
    Mousetrap.bind({{user_settings['rotate-11'] | safe}}, ()=>bell_obj.rotate(11))
    Mousetrap.bind({{user_settings['rotate-12'] | safe}}, ()=>bell_obj.rotate(12))
    Mousetrap.bind({{user_settings['rotate-13'] | safe}}, ()=>bell_obj.rotate(13))
    Mousetrap.bind({{user_settings['rotate-14'] | safe}}, ()=>bell_obj.rotate(14))
    Mousetrap.bind({{user_settings['rotate-15'] | safe}}, ()=>bell_obj.rotate(15))
    Mousetrap.bind({{user_settings['rotate-16'] | safe}}, ()=>bell_obj.rotate(16))
    // Right hand
    Mousetrap.bind({{user_settings['right'] | safe}},
                   ()=>{bell_obj.pull_rope_by_hand("right"); return false}, 
                   'keydown');
    Mousetrap.bind({{user_settings['left'] | safe}},
                   ()=>{bell_obj.pull_rope_by_hand("left"); return false}, 
                   'keydown');
    Mousetrap.bind({{user_settings['bob'] | safe}}, ()=>bell_obj.make_call("Bob"));
    Mousetrap.bind({{user_settings['single'] | safe}}, ()=>bell_obj.make_call("Single"));
    Mousetrap.bind({{user_settings['go'] | safe}}, ()=>bell_obj.make_call("Go"));
    Mousetrap.bind({{user_settings['all'] | safe}}, ()=>bell_obj.make_call("That's all"));
    Mousetrap.bind({{user_settings['stand'] | safe}}, ()=>bell_obj.make_call("Stand next"));
    Mousetrap.bind({{user_settings['look'] | safe}}, ()=>bell_obj.make_call("Look to"));
    Mousetrap.bind({{user_settings['rounds'] | safe}}, ()=>bell_obj.make_call("Rounds"));
    Mousetrap.bind({{user_settings['change'] | safe}}, ()=>bell_obj.make_call("Change method"));
    Mousetrap.bind({{user_settings['sorry'] | safe}}, ()=>bell_obj.make_call(window.tower_parameters.cur_user_name + " says sorry."));
}




</script>
