<!-- Load mousetrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.5/mousetrap.min.js" integrity="sha512-+Jg3Ynmj9hse704K48H6rBBI3jdNBjReRGBCxUWFfOz3yVurnJFWtAWssDAsGtzWYw89xFWPxShuj2T6E9EOpg==" crossorigin="anonymous"></script>

<!-- bind tower data -->
<script>
window.tower_parameters = {
    id: parseInt({{tower.tower_id}}),
    name: "{{tower.name | safe}}",
    audio: "{{tower.audio}}",
    size: parseInt({{tower.n_bells}}),
    observers: parseInt({{tower.observers}}),
    assignments: {{tower.assignments_as_list() | safe }},
    sizes_available: {{ [4,5,6,8,10,12,14,16] if tower.additional_sizes_enabled else [4,6,8,10,12]}},
    cur_user_id: "{{user_id}}",
    cur_user_name: "{{user_name}}",
    cur_user_email: "{{user_email}}",
    cur_user_badge: "{{user_badge if user_badge else ''}}",
    anonymous_user: {{'true' if current_user.is_anonymous or listen_link else 'false'}},
    user_token: "{{user_token}}",
    host_mode_permitted: {{'true' if tower.host_mode_enabled else 'false'}},
    host_mode: {{'true' if tower.host_mode else 'false'}},
    host_permissions: {{'true' if host_permissions else 'false'}},
    half_muffled: {{'true' if tower.half_muffled else 'false'}},
    anticlockwise: {{'true' if tower.anticlockwise else 'false'}},
    bookmarked: {{'true' if current_user.is_authenticated and current_user.bookmarked(tower.tower_id) else 'false'}},
    listen_link: {{'true' if listen_link else 'false'}},
    server_ip: "{{server_ip}}",
    cow_enabled: {{'true' if tower.cowbell_enabled else 'false'}},
};

{% if not listen_link %}

window.user_settings = {
        controller_debounce: parseInt({{user_settings['controllers']['debounce']}}),
        controller_handstroke: parseInt({{user_settings['controllers']['handstroke']}}),
        controller_backstroke: parseInt({{user_settings['controllers']['backstroke']}}),
        {% for controller in ['left', 'right'] %}
            {% for button in ['left', 'right'] %}
                {% set val = user_settings['controllers'][controller + '_' + button] %}
                controller_{{controller}}_{{button}}:
                {% if val == "Silently swap stroke" %}
                    (bell_obj)=>{bell_obj.silent_swap_by_hand("{{controller}}")},
                {% else %}
                    (bell_obj)=>{bell_obj.make_call("{{val}}")},
                {% endif %}
            {% endfor %}
        {% endfor %}
};


_bind_hotkeys = function(bell_obj) {

    // Escape to unfocus chatbox
    Mousetrap.bind('escape',  () => {if ($("#chat_input_box").is(":focus")) $("#chat_input_box").blur();});

    // shift+s to set at hand
    Mousetrap.bind({{user_settings['keybindings']['set_at_hand'] | safe }}, bell_obj.set_bells_at_hand);

    {% for i in range(1,17) %}
    // Ring specific bell
    Mousetrap.bind({{user_settings['keybindings'][i|string] | safe}}, ()=>bell_obj.pull_rope({{i}}))
    // Rotate to bell
    Mousetrap.bind({{user_settings['keybindings']['rotate-' + i|string] | safe}}, 
            ()=>bell_obj.rotate({{i}}))
        Mousetrap.bind({{user_settings['keybindings']['catch-' +i|string] | safe}}, 
            ()=>bell_obj.$refs.bells[{{(i-1)|string}}].assign_user_by_id({{user_id|int}}));
    {% endfor %}

    // Ring by hand
    Mousetrap.bind({{user_settings['keybindings']['right'] | safe}},
                   ()=>{bell_obj.pull_rope_by_hand("right"); return false}, "keydown");
    Mousetrap.bind({{user_settings['keybindings']['left'] | safe}},
                   ()=>{bell_obj.pull_rope_by_hand("left"); return false}, "keydown");
    Mousetrap.bind({{user_settings['keybindings']['swap-left'] | safe}}, 
                   ()=>{bell_obj.silent_swap_by_hand("left")});
    Mousetrap.bind({{user_settings['keybindings']['swap-right'] | safe}}, 
                   ()=>{bell_obj.silent_swap_by_hand("right")});

    // Calls
    Mousetrap.bind({{user_settings['keybindings']['bob'] | safe}}, ()=>bell_obj.make_call("Bob"));
    Mousetrap.bind({{user_settings['keybindings']['single'] | safe}}, ()=>bell_obj.make_call("Single"));
    Mousetrap.bind({{user_settings['keybindings']['go'] | safe}}, ()=>bell_obj.make_call("Go"));
    Mousetrap.bind({{user_settings['keybindings']['all'] | safe}}, ()=>bell_obj.make_call("That's all"));
    Mousetrap.bind({{user_settings['keybindings']['stand'] | safe}}, ()=>bell_obj.make_call("Stand next"));
    Mousetrap.bind({{user_settings['keybindings']['look'] | safe}}, ()=>bell_obj.make_call("Look to"));
    Mousetrap.bind({{user_settings['keybindings']['rounds'] | safe}}, ()=>bell_obj.make_call("Rounds"));
    Mousetrap.bind({{user_settings['keybindings']['change'] | safe}}, ()=>bell_obj.make_call("Change method"));
    Mousetrap.bind({{user_settings['keybindings']['sorry'] | safe}}, ()=>bell_obj.make_call(window.tower_parameters.cur_user_name + " says sorry."));
}

{% endif %}

</script>
