<!-- Modal -->
<div class="modal fade" id="privacy_modal" tabindex="-1" role="dialog">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
<h2 class="modal-title" id="privacy_title">Our Privacy Policy</h2>
<button type="button" class="close" data-dismiss="modal">
<span>&times;</span>
</button>
</div>
<div class="modal-body" style="font-size: 1.25rem;">

    <p>
Ringing Room is independently operated by Leland Paul Kusmer and Bryn Marie Reinstadler. This privacy policy will explain how we use the personal data we collect from you when you use our website.
    </p>

    <p>
Topics:
    </p>

<ul>
    <li> What data do we collect? </li>
    <li> How do we collect your data?</li>
    <li> How will we use your data? </li>
    <li> How do we store your data</li>
    <li> What are your data protection rights?</li>
    <li> What are cookies? </li>
    <li> How do we use cookies? </li>
    <li> What types of cookies do we use?</li>
    <li> How to manage your cookies</li>
    <li> Privacy policies of other websites</li>
    <li> Changes to our privacy policy</li>
    <li> How to contact us</li>
    <li> How to contact the appropriate authorities</li>
</ul>

<h3> What data do we collect? </h3>

<p>
Ringing Room collects the following data:
</p>

<ul>
    <li> Your email address </li>
</ul>

<h3> How do we collect your data?</h3>

<p>
We only collect data that you directly provide us with. We collect your email address when you register for an account, or when you update the email address of an existing account. We also collect and process data when you use or view our website via your browsers cookies.
</p>

<h3> How will we use your data?</h3>

<p>
We collect your data so that we can:
</p>

<ul>
    <li> Email you if you forget your password and require a reset.</li>
    <li> Keep track of what towers you have visited on our site.</li>
</ul>

<p>
We will never share your data with any other organizations or individuals for any reason.
</p>

<h3> How do we store your data?</h3>

<p>
We store your data in a password-protected database on our servers hosted at DigitalOcean. We will keep your email address indefinitely, until you request that we delete it. All cookies are deleted after 30 days.
</p>

<h3> What are your data protection rights?</h3>

<p>
Every user is entitled to the following:
</p>

<p>
<b>The right to access –</b> You have the right to request copies of your personal data from Ringing Room.
</p>

<p>
    <b>The right to rectification –</b> You have the right to request that Ringing Room correct any information you believe is inaccurate. You also have the right to request Ringing Room to complete the information you believe is incomplete.
</p>

<p>
    <b>The right to erasure –</b> You have the right to request that Ringing Room erase your personal data.
</p>

<p>
    <b>The right to restrict processing –</b> You have the right to request that Ringing Room restrict the processing of your personal data, under certain conditions.
</p>

<p>
    <b>The right to object to processing –</b> You have the right to object to Ringing Room's processing of your personal data.
</p>

<p>
    <b>The right to data portability –</b> You have the right to request that Ringing Room transfer the data that we have collected to another organization, or directly to you, under certain conditions.
</p>

<p>
If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email: <a href="mailto://ringingroom@gmail.com">ringingroom@gmail.com</a>
</p>


<h3> Cookies </h3>

<p>
Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit Ringing Room, we may collect information from you automatically through cookies or similar technology.
</p>

<p>
For further information, visit <a href="http://allaboutcookies.org">allaboutcookies.org</a>.
</p>

<h3> How do we use cookies? </h3>

<p>
Ringing Room uses cookies in a range of ways to improve your experience on our website, including:
</p>

<ul>

    <li> Keeping you signed in</li>
    <li> Tracking what towers you have visited so that you can return to them easily</li>
    <li> Understanding how you use Ringing Room</li>

</ul>

<h3> What types of cookies do we use?</h3>

<p>
There are a number of different types of cookies. Our website uses the following types:
</p>

<ul>

    <li><b>Functionality —</b> Ringing Room uses these cookies so that we can recognize you on our website and remember your username and recent towers. Only first-party cookies are used.</li>
    <li><b>Analytics —</b> We use third-party cookies from Google Analytics to track how many visitors our website gets.</li>

</ul>

<h3> How to manage cookies </h3>

<p>
You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, if you do not accept cookies, you will not be able to log in and ring on Ringing Room.
</p>

<h3> Privacy policies of other websites</h3>

<p>
Ringing Room contains links to other websites. Our privacy policy applies only to Ringing Room, so if you click on a link to another website, you should read their privacy policy.
</p>

<h3> Changes to our privacy policy</h3>

<p>
Ringing Room keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 27 May 2020.
</p>

<h3> How to contact us</h3>


<p>
If you have any questions about Ringing Room's privacy policy or the data we collect, or you would like to exercise one of your data protection rights, please do not hesitate to contact us by emailing us at: <a href="mailto://ringingroom@gmail.com">ringingroom@gmail.com</a>.
</p>

<h3> How to contact the appropriate authority</h3>

<p>
Should you wish to report a complaint or if you feel that Ringing Room has not addressed your concern in a satisfactory manner, you may contact the <a href="https://ico.org.uk">Information Commissioner's Office</a>.
</p>






</div>
<div class="modal-footer">
<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
