<div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" 
       href="#" 
       id="userDropdown"
       role="button"
       data-toggle="dropdown"
       data-offset="30,30"
       >
       <i class="fas fa-fw fa-user"></i> {{ current_user.username }}
    </a>
        <div class="dropdown-menu dropdown-menu-right">
            <h6 class="dropdown-header">Recently visited towers</h6>
            {% for tower in current_user.recent_towers(5) %}
                <a class="dropdown-item d-inline-flex align-items-baseline" 
                   href="/{{tower.tower_id}}/{{tower.url_safe_name}}">
                    <span class="mr-auto">{{tower.tower_name}}&nbsp;&nbsp;</span>
                    <small>{{tower.tower_id}}</small>
                </a>
            {% endfor %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item d-inline-flex align-items-baseline" 
               href="{{url_for('user_settings')}}">
                <span class="mr-auto">Settings</span>
                <i class="fas fa-cog"></i>
            </a>
            <a class="dropdown-item d-inline-flex align-items-baseline" 
               href="{{url_for('logout')}}">
                <span class="mr-auto">Log Out</span>
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>
</div>
