{% extends 'base.html' %}

{% block title %}About — {% endblock %}

{% block content %}

		<div class="pure-u-2-5 copy">
			<h3>The site</h3>
			<p>Welcome to the Ringing Room! This is a site built for change ringers to continue ringing with one
                another even when socially distanced. It is under development currently, and new features may
                show up with little warning. Please <a href="/contact">contact us</a> if you notice any bugs.</p>
			<h3> The developers </h3>
			<p>The Ringing Room is a joint venture by Leland Paul Kusmer and Bryn Marie Reinstadler,
                both ringers in the Boston, Massachusetts area.</p>
			<h3> The audio </h3>

            <p>The tower bell audio is provided by <a
                href="http://www.hibberts.co.uk/">Bill Hibberts</a>. The handbell recordings are of Leland's bells,
                with editing and extension by JES.</p>
		</div>
	</div>

{% endblock %}
