
{% extends 'base.html' %}

{% block app_content %}

<div class="embed-responsive embed-responsive-16by9 mb-4">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/l0mYK8QQx8w?rel=0" allowfullscreen></iframe>
</div>

<h3>The site</h3>

<p>Welcome to the Ringing Room! This is a site built for change ringers to continue ringing with one another even when socially distanced. It is under development currently, and new features may show up with little warning. Please <a href="/contact">contact us</a> if you have any issues or suggestions.</p>


<p>You are using version <b>20.39</b>, released on <b>22 September 2020</b>.</p>

<h3> The developers </h3>

<p>The Ringing Room is a joint venture by Leland Paul Kusmer and Bryn Marie Reinstadler, both ringers in the Boston, Massachusetts area.</p>

<h3> The audio </h3>

<p>The tower bell audio is provided by <a href="http://www.hibberts.co.uk/">Bill Hibbert</a>. The handbell recordings are of Leland's bells, with editing and extension by JES.</p>

<h3>As featured on the BBC</h3>

We were featured in the evening broadcast of the BBC News!

<div class="embed-responsive embed-responsive-16by9 my-3">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/71G7jjRwCrM?rel=0" allowfullscreen></iframe>
</div>


{% endblock %}
