
{% extends 'base.html' %}

{% block title %}About — {% endblock %}

{% block content %}

			<h3>The site</h3>
			<p>Welcome to the Ringing Room! This is a site built for change ringers to continue ringing with one
                another even when socially distanced. It is under development currently, and new features may
                show up with little warning. Please <a href="/contact">contact us</a> if you notice any bugs.</p>
			<h3> The developers </h3>
			<p>The Ringing Room is a joint venture by Leland Paul Kusmer and Bryn Marie Reinstadler,
                both ringers in the Boston, Massachusetts area.</p>
			<h3> The audio </h3>

            <p>The tower bell audio is provided by <a
                href="http://www.hibberts.co.uk/">Bill Hibbert</a>. The handbell recordings are of Leland's bells,
                with editing and extension by JES.</p>

	        <h3> Related Efforts </h3>

		<p> Richard Johnston has done a great deal of work to make Ringing Room work with Handbell Manager and with Android phones as simulated handbells (!). Read more about it by clicking <a href="http://ringingtraining.pbworks.com/w/page/139440417/Handbell%20Manager%20for%20Ringingroom">here</a>. </p>


{% endblock %}
