{% extends "base.html" %}

{% block title %} Log In or Register — {% endblock %}

{% block content %}

    <h1>Already have an account? </h1>


    <form action="{{ url_for('login') }}" method="post" novalidate>
        {{ login_form.hidden_tag() }}
        <p>
            {{ login_form.username.label }}<br>
            {{ login_form.username(size=32, class="login_username") }}
            {% for error in login_form.username.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ login_form.password.label }} <br>
            {{ login_form.password(size=32, class="login_password") }}
            {% for error in login_form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ login_form.remember_me(class="login_remember") }} {{ login_form.remember_me.label }}</p>
        <p>{{ login_form.submit() }}</p>

    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

    <hr>

    <h1>Register</h1>
    <form action="{{ url_for('register') }}" method="post" novalidate>
        {{ registration_form.hidden_tag() }}
        <p>
            {{ registration_form.username.label }}<br>
            {{ registration_form.username(size=32) }}<br>
            {% for error in registration_form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ registration_form.email.label }}<br>
            {{ registration_form.email(size=64) }}<br>
            {% for error in registration_form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ registration_form.password.label }}<br>
            {{ registration_form.password(size=32) }}<br>
            {% for error in registration_form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ registration_form.password2.label }}<br>
            {{ registration_form.password2(size=32) }}<br>
            {% for error in registration_form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ registration_form.submit() }}</p>
    </form>
{% endblock %}
