{% extends "base.html" %}

{% block title %} Log In or Register — {% endblock %}

{% block app_content %}

    <h1>Already have an account? </h1>


    <form action="{{ url_for('login', next=next) }}" method="post" novalidate>
        {{ login_form.hidden_tag() }}
        <div class="form-group"

            {{ login_form.username.label }}
            {{ login_form.username(size=32, class="form-control") }}
            {% for error in login_form.username.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ login_form.password.label }}
            <div class="row">
                <div class="col-9">
                    <div class="input-group">
                        {{ login_form.password(size=32, class="form-control") }}
                        <div class="input-group-append">
                            {{ login_form.submit(class="btn btn-primary") }}
                        </div>
                    </div>
                    {% for error in login_form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="col-3">
                    <div class="form-group form-check form-check-inline">
                    {{ login_form.remember_me(class="form-check-input") }} {{ login_form.remember_me.label(class="form-check-label") }}
                    </div>
                </div>
            </div>
        </div>
        <a href="{{url_for('request_reset_password')}}">Forgot password?</a>

    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

    <hr>

    <h1>Register</h1>
    <form action="{{ url_for('register',next=next) }}" method="post" novalidate>
        {{ registration_form.hidden_tag() }}

        <div class="form-group">
            {{ registration_form.username.label }}
            {{ registration_form.username(size=32, class="form-control") }}
            <small class="form-text text-muted">
                This is the name that will appear in the tower when you're ringing. You can change it later.
            </small>
            {% for error in registration_form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ registration_form.email.label }}
            {{ registration_form.email(size=64,class="form-control") }}
            <small class="form-text text-muted">
                We will never share your email address with anyone.
            </small>
            {% for error in registration_form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-5">
                <div class="form-group">
                    {{ registration_form.password.label }}
                    {{ registration_form.password(size=32, class="form-control") }}
                    {% for error in registration_form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col-7">
                <div class="form-group">
                    {{ registration_form.password2.label }}
                    <div class="input-group">
                        {{ registration_form.password2(size=32, class="form-control") }}
                        {% for error in registration_form.password2.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                        <div class="input-group-append">
                            {{ registration_form.submit(class="btn btn-primary") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
