<!doctype html>
<html>

<head>
    <title>{% block title %}{% endblock %}Ringing Room</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162521976-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-162521976-1');
    </script>
    <!-- external resources -->
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
	<script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    
    <!-- internal resources -->
    {% assets "js_landing" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "css_static" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
    {% endassets %}
	<!-- Favicon nonsense -->
	<link rel="icon" type="image/png" href="{{url_for('static', filename = 'images/favicon/favicon-196x196.png')}}" sizes="196x196" />
	<link rel="icon" type="image/png" href="{{url_for('static', filename = 'images/favicon/favicon-96x96.png')}}" sizes="96x96" />
	<link rel="icon" type="image/png" href="{{url_for('static', filename = 'images/favicon/favicon-32x32.png')}}" sizes="32x32" />
	<link rel="icon" type="image/png" href="{{url_for('static', filename = 'images/favicon/favicon-16x16.png')}}" sizes="16x16" />
	<link rel="icon" type="image/png" href="{{url_for('static', filename = 'images/favicon/favicon-128.png')}}" sizes="128x128" />
</head>

<body>
	<div class="pure-g">
		<div class="pure-u-1-4 nav">
			<div class="pure-menu">
				<ul class="pure-menu-list">
					<li class="pure-menu-item"><a href="/" class="pure-menu-link home">Ringing Room</a>
					</li>
					<li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a>
					</li>
					<li class="pure-menu-item"><a href="/help" class="pure-menu-link">Help</a>
					</li>
					<li class="pure-menu-item"><a href="/contact" class="pure-menu-link">Contact</a>
					</li>
					<li class="pure-menu-item"><a href="/donate" class="pure-menu-link">Donate</a>
					</li>
				</ul>
			</div>
			<div class="news">
				<h3> News </h3>
				The Ringing Room is currently under very active development; features may change or be added without warning! Works best on a laptop or desktop with Google Chrome. Microsoft Edge does NOT work for the time being; use other browser if possible.
				<br/>
				<br/>Recent changes:
				<ul>
                    <li> <b>11 April 2020</b>: Continued iteration on username implementation. </li>
                    <li> <b>9 April 2020</b>: Fixed many bugs with usernames, and with strokes getting out of sync between users; updated handbell audio.</li>
                    <li> <b>5 April 2020</b>: Added (transient) usernames and bell-assignment capabilities. Redesigned tower layout.</li>
					<li> <b>1 April 2020</b>: Issues with UK keyboard layout fixed. List of known bugs and available fixes added to Help page.</li>
					<li> <b>31 March 2020</b>: Tower IDs (and links to specific towers) should now be stable indefinitely.</li>
					<li> <b>30 March 2020</b>: Added an option to use audio from handbells rather than towerbells, on 6 or 8. (Not currently available on 10 or 12.)</li>
				</ul>
			</div>
		</div>
	</div>

        {% block content %}{% endblock %}

<style>
span.cc-message {text-align:center;}
</style>
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "content": {
      message: "We use cookies to improve your experience."
  },
  "palette": {
    "popup": {
      "background": "#252e39"
    },
    "button": {
      "background": "#0078e7",
      "highlight":  "#0078e7"
    }
  }
});
</script>
</body>

</html>
