<html lang="en">

    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>
        {% if title %}{{ title }} — Ringing Room {% else %} Ringing Room{% endif %}
        </title>

	<!-- Favicon nonsense -->
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="static/images/favicon/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/images/favicon/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/images/favicon/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/images/favicon/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="static/images/favicon/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="static/images/favicon/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="static/images/favicon/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="static/images/favicon/apple-touch-icon-152x152.png" />
<link rel="icon" type="static/images/favicon/png" href="static/images/favicon/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="static/images/favicon/png" href="static/images/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="static/images/favicon/png" href="static/images/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="static/images/favicon/png" href="static/images/favicon/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="static/images/favicon/png" href="static/images/favicon/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="Ringing Room"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-Tileimages" content="static/images/favicon/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="static/images/favicon/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="static/images/favicon/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="static/images/favicon/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="static/images/favicon/mstile-310x310.png" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b8eb96aee8.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>
    {% assets "css_static" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
    {% endassets %}
    <style>
    span.cc-message {text-align:center;}
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162521976-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-162521976-1');
    </script>
    </head>

<body>

{%  if not user_settings_flag %}
<div class="custom-control custom-switch d-none">
      <input type="checkbox" class="custom-control-input" id="darkSwitch" />
      <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
</div>
<script src="static/dark-mode-switch/dark-mode-switch.min.js"></script>
{% else %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.5/mousetrap.min.js" integrity="sha512-+Jg3Ynmj9hse704K48H6rBBI3jdNBjReRGBCxUWFfOz3yVurnJFWtAWssDAsGtzWYw89xFWPxShuj2T6E9EOpg==" crossorigin="anonymous"></script>

        <script>
(function(d){function n(b,a,h){if(this.recording)if("keydown"==h.type){1===b.length&&g&&k();for(i=0;i<a.length;++i)l(a[i]);l(b)}else"keyup"==h.type&&0<c.length&&k();else p.apply(this,arguments)}function l(b){var a;for(a=0;a<c.length;++a)if(c[a]===b)return;c.push(b);1===b.length&&(g=!0)}function k(){e.push(c);c=[];g=!1;clearTimeout(m);m=setTimeout(q,1)}function r(b){var a;for(a=0;a<b.length;++a)b[a].sort(function(a,b){return 1<a.length&&1===b.length?-1:1===a.length&&1<b.length?1:a>b?1:-1}),b[a]=
b[a].join("+")}function q(){f&&(r(e),f(e));e=[];f=null;c=[]}var e=[],f=null,c=[],g=!1,m=null,p=d.prototype.handleKey;d.prototype.record=function(b){var a=this;a.recording=!0;f=function(){a.recording=!1;b.apply(a,arguments)}};d.prototype.handleKey=function(){n.apply(this,arguments)};d.init()})(Mousetrap);
        </script>

<script type="module" src="/static/hotkey_form.js"></script>
{% endif %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{url_for('static', filename = 'images/logo.png')}}" alt="Ringing Room Logo" height="40">
            <span class="navbar-brand-text">Ringing Room</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedcontent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link"
                                        href="{{ url_for('about') }}">About</a></li>
                <li class="nav-item"><a class="nav-link"
                                        href="{{ url_for('help') }}">Help</a></li>
                <li class="nav-item"><a class="nav-link"
                                        href="{{ url_for('contact') }}">Contact</a></li>
                <li class="nav-item"><a class="nav-link"
                                        href="{{ url_for('donate') }}">Donate</a></li>
                <li class="nav-item"><a class="nav-link"
                                        href="https://ringingroom.redbubble.com">Store</a></li>
                <!-- <li class="nav-item"><a class="nav-link" -->
                <!--                         href="{{ url_for('carols') }}">Carols</a></li> -->
                <li class="nav-item"><a class="nav-link btn btn-info mx-1"
                    href="{{url_for('survey')}}" style="color: #b2276e; border-width: 0;">Survey</a></li>
                <!-- <li class="nav-item"><a class="nav-link"
                    href="{{ url_for('blog') }}">Blog</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href='{{ url_for('authenticate') }}'>
                            <i class="fas fa-fw fa-user"></i>
                            Log In / Register</a>
                    </li>
                    {% else %}
                    {% include '_user_menu.html' %}
                    {% endif %}
            </ul>
        </div>
    </div>
</nav>


<div class="content_container container clearfix">

    {% block app_content %}{% endblock %}

</div>

{% if not hide_cookie_warning %}

<!-- START Bootstrap-Cookie-Alert -->
<div class="alert text-center cookiealert" role="alert">
    We use cookies to improve your experience on our website. <a href="https://cookiesandyou.com/" target="_blank">Learn more</a>

    <button type="button" class="btn btn-primary btn-sm acceptcookies">
        I agree
    </button>
</div>
<!-- END Bootstrap-Cookie-Alert -->

{% endif %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

{% assets "js_landing" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}


<script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>


    <script>
        $('.toast').toast('show');
    </script>

</body>

</html>
