{% extends 'base.html' %} {% block app_content %}

<p>
    With Christmas fast approaching, we know many bands are looking to ring some
    carols. A variety of ringers have published some tune-sheets and we've
    collected some of them here; many thanks to Rona Joiner, Julie Lloyd,
    Catherine Gibson, Kaechee Wong, Stuart Heath, and Danielle Morse for
    creating these! If you've created similar tune-sheets and want to have them
    featured here, feel free to email us at
    <a href="mailto:ringingroom@gmail.com">ringingroom@gmail.com</a>.
</p>

<ul>
    <li>
        <a href="static/downloads/carols/angels_from_the_realms.jpg" download>
            Angels from the Realms of Glory
        </a>
    </li>
    <li>
        <a href="static/downloads/carols/angels_we_have_heard.jpg" download>
            Angels We Have Heard on High
        </a>
    </li>
    <li>
        <a href="static/downloads/carols/away_in_a_manger.jpg" download>
            Away in a Manger
        </a>
    </li>
    <li>
        <a href="static/downloads/carols/auld_lang_syne.pdf" download>
            Auld Lang Syne
        </a>
    </li>
    <li>
        <a href="static/downloads/carols/deck_the_halls.jpg" download>
            Deck the Halls
        </a>
    </li>
    <li>
        <a href="static/downloads/carols/ding_dong_merrily.jpg" download>
            Ding Dong Merrily on High
        </a>
        <a href="static/downloads/carols/ding_dong_harmony.pdf" download>
            (alt. version with harmony)
        </a>
    </li>
    <li>
        <a href="static/downloads/carols/first_noel.jpg" download>
            The First Noel
        </a>
        <a href="static/downloads/carols/first_nowell.jpg" download>
            (alt. version)
        </a>
    </li>
    <li>
        <a href="static/downloads/carols/god_rest_ye.jpg" download>
            God Rest Ye Merry Gentlemen
        </a>
    </li>
    <li>
        <a href="static/downloads/carols/good_king_w.jpg" download>
            Good King Wenceslas
        </a>
    </li>
    <li>
        <a href="static/downloads/carols/hark.jpg" download>
            Hark, the Herald Angels Sing
        </a>
        <a href="static/downloads/carols/hark_harmony.pdf" download>
            (alt. version with harmony)
        </a>
    </li>
    <li>
        <a href="static/downloads/carols/infant_holy.jpg" download>
            Infant Holy, Infant Lowly
        </a>
    </li>
    <li>
        <a href="static/downloads/carols/jingle_bells.jpg" download>
            Jingle Bells
        </a>
        <a href="static/downloads/carols/jingle_harmony.pdf" download>
            (alt. version with harmony)
        </a>
    </li>
    <li>
        <a href="static/downloads/carols/joy_to_the_world.jpg" download>
            Joy to the World
        </a>
    </li>
    <li>
        <a href="static/downloads/carols/marys_boy_child.jpg" download>
            Mary's Boy Child
        </a>
    </li>
    <li>
        <a href="static/downloads/carols/oh_come_all_ye_faithful.jpg" download>
            Oh Come, All Ye Faithful
        </a>
    </li>
    <li>
        <a href="static/downloads/carols/o_come.jpg" download>
            O Come, O Come, Emmanuel
        </a>
    </li>
    <li>
        <a href="static/downloads/carols/oh_little_town.jpg" download>
            Oh Little Town of Bethlehem
        </a>
    </li>
    <li>
        <a href="static/downloads/carols/royal_davids_city.jpg" download>
            Once in Royal David's City
        </a>
    </li>
    <li>
        <a href="static/downloads/carols/rudolf.jpg" download>
            Rudolf the Red-Nosed Reindeer
        </a>
    </li>
    <li>
        <a href="static/downloads/carols/silent_night.jpg" download>
            Silent Night
        </a>
    </li>
    <li>
        <a href="static/downloads/carols/while_shepherds.jpg" download>
            While Shephers Watch Their Flocks by Night
        </a>
    </li>
    <li>
        <a href="static/downloads/carols/we_three_kings.jpg" download>
            We Three Kings
        </a>
    </li>
    <li>
        <a href="static/downloads/carols/we_wish_you.jpg" download>
            We Wish You a Merry Christmas
        </a>
        <a href="static/downloads/carols/we_wish_harmony.pdf" download>
            (alt. version with harmony)
        </a>
    </li>
    <li>
        <a href="static/downloads/carols/unto_us_a_boy.jpg" download>
            Unto Us A Boy Is Born
        </a>
    </li>
</ul>

<p style="height: 5rem"></p>

{% endblock %}
