{% extends 'base.html' %}

{% block app_content %}


<p>

With Christmas fast approaching, we know many bands are looking to ring some carols. A variety of ringers have published some tune-sheets and we've collected some of them here; many thanks to Rona Joiner and Julie Lloyd for creating these! If you've created similar tune-sheets and want to have them featured here, feel free to email us at <a href="mailto:ringingroom@gmail.com">ringingroom@gmail.com</a>.

</p>


<ul>
    <li><a href="static/downloads/carols/deck_the_halls.jpg" download>
        Deck the Halls
        </a></li>
    <li><a href="static/downloads/carols/ding_dong_merrily.jpg" download>
        Ding Dong Merrily on High
        </a></li>
    <li><a href="static/downloads/carols/god_rest_ye.jpg" download>
        God Rest Ye Merry Gentlemen
        </a></li>
    <li><a href="static/downloads/carols/good_king_w.jpg" download>
        Good King Wenceslas
        </a></li>
    <li><a href="static/downloads/carols/jingle_bells.jpg" download>
        Jingle Bells
        </a></li>
    <li><a href="static/downloads/carols/marys_boy_child.jpg" download>
        Mary's Boy Child
        </a></li>
    <li><a href="static/downloads/carols/oh_come_all_ye_faithful.jpg" download>
        Oh Come, All Ye Faithful
        </a></li>
    <li><a href="static/downloads/carols/oh_little_town.jpg" download>
        Oh Little Town of Bethlehem
        </a></li>
    <li><a href="static/downloads/carols/royal_davids_city.jpg" download>
        Once in Royal David's City
        </a></li>
    <li><a href="static/downloads/carols/silent_night.jpg" download>
        Silent Night
        </a></li>
    <li><a href="static/downloads/carols/we_wish_you.jpg" download>
        We Wish You a Merry Christmas
        </a></li>
</ul>




{% endblock %}
