{% extends 'base.html' %}

{% block title %}About — {% endblock %}


{% block content %}
			<p>This site is co-run by Leland Paul Kusmer and Bryn Reinstadler. We're still actively developing new
                features for the Ringing Room, so if you have suggestions please get in touch.</p>

            <p>To report a bug, please fill out this google form: <a href="https://forms.gle/kz6NC5VC9n9DerG19">https://forms.gle/kz6NC5VC9n9DerG19</a></p>

            <p></p>Otherwise, we can be reached at ringingroom (at) gmail (dot) com.</p>
{% endblock %}
