{% extends 'base.html' %}

{% block title %}Donate — {% endblock %}

{% block content %}
		<div class="pure-u-2-5 copy">
			<p> We decided to create the Ringing Room in order to facilitate continued engagement with ringing
                during the coronavirus crisis.
            <p>
                During this time of crisis, submissions to BellBoard have slowed to a crawl.
                We encourage all who ring on this platform and submit to BellBoard to donate to
                <i>The Ringing World</i>.
            </p>

            <p>
                There are also ongoing costs associated with sustaining the Ringing Room; if you'd like to help us keep
                the site up and running, we're accepting donations by Venmo or Paypal. Thank you!</p>
            </p>
			<ul>
				<li>Venmo: <a href="https://venmo.com/lelandpaul">@lelandpaul</a>
				</li>
				<li>Paypal: <a href="https://paypal.me/ringingroom">paypal.me/ringingroom</a>
				</li>
		</div>
{% endblock %}
