{% extends 'base.html' %}

{% block app_content %}
			<p>
                We decided to create the Ringing Room in order to facilitate continued engagement with ringing
                during the coronavirus crisis.
            </p>

            <p>
                During this time of crisis, submissions to BellBoard have slowed to a crawl.
                We encourage all who ring on this platform and submit to BellBoard to donate to
                <i>The Ringing World</i>.
            </p>

            <p>
                There are also ongoing costs associated with sustaining the Ringing Room; if you'd like to help us keep
                the site up and running, we're accepting donations by Venmo or Paypal. Thank you!
            </p>

            <p>
                Donations are first allocated to ensuring we have a several month rolling supply of funding for server and tool costs;
                these run north of $200 a month.
                Further donations go to support the on-going development costs of Ringing Room in terms of labor and time.
                Your $5 donation funds 20 quarter peals! And your £5 donation goes even a bit further. We appreciate all your support.
            </p>


			<ul>
				<li>Venmo: <a href="https://venmo.com/lelandpaul">@lelandpaul</a>
				</li>
				<li>Paypal: <a href="https://paypal.me/ringingroom">paypal.me/ringingroom</a>
				</li>
            </ul>
{% endblock %}
