{% extends 'base.html' %}

{% block app_content %}

<p>Below is our <a href="#quick_start">Quick Start Guide</a>. You may also wish to access <a href="#faq">FAQs</a> or information about <a href="#advanced_features">Advanced Features</a>.</p>

<h2><a id="quick_start"></a>Quick Start Guide</h2>

<h4>Computing Set-Up</h4>

<p>The ideal computing set-up for Ringing Room is:</p>

<ul>
    <li><b>Hardware</b>: A laptop or desktop computer</li>
    <li><b>Operating System</b>: any modern operating system</li>
    <li><b>Browser</b>: Google Chrome or the latest version of Microsoft Edge (Other browsers may be OK)</li>
    <li><b>Voice Chat</b>: There is text chat in Ringing Room, but voice chat is often preferred.
        We suggest Zoom or Discord.</li>
    <li><b>Headphones</b>: Ideal to reduce echo and double-clappering</li>
    <li><b>Internet Connection</b>: Use a wired connection where wireless is too slow.</li>
</ul>

<p>Other set-ups (tablets, phones, Safari browser, etc) may or may not function as desired.</p>

<h4>Creating an account</h4>

<p>To help us give you a safe, secure ringing experience and to help us store your preferences, you will need an account to access Ringing Room. You can create an account by clicking the "Log In / Register" button at the top right of your screen. Your email address and an encrypted version of your password are stored securely on our server. We will not share them with anyone for any reason. </p>

<p> After you have registered, you will be automatically logged in. When you are logged in, your username will appear at the top right of the screen and you can click your username to see various advanced settings, including facilities for changing your username, email address, or password. You can also permanently delete your account. </p>

<p>If you ever forget your password, you can use the password reset link on the log-in page, which will send an email to your address on file with a link to reset your password. Note that this link is only good for 24 hours after being sent. Make sure to check your spam filter for the email if it doesn't arrive promptly. </p>

<h4>Creating or joining a tower</h4>

<p>Creating a tower on Ringing Room is simple. Go to the front page and type your desired name into the box in the center of the page. Once you press enter, you will be sent to a tower with that name. Each tower comes with a unique 9-digit ID which can be shared to allow others into that same tower.</p>

<p>To join a tower, you must be equipped with its 9-digit ID number, which can then be typed or copied into the box in the center of the front page. Alternately, if you have been furnished with a link to a tower, you can click that link and be sent to the tower directly. </p>

<h4>Ringing the Bells</h4>

<p>Once you're in a tower, you can click on the ropes or handbells to ring them. It is also possible to ring the bells using keypresses ("hot-keys").</p>

<ul>
    <li><b>[SPACE]:</b> Rings the bell in the lower right corner.</li>
    <li><b>[LEFT] and [RIGHT] arrow keys:</b> Rings the left and right bottom-most bells.</li>
    <li><b>[f] and [j]:</b> same as [LEFT] and [RIGHT]</li>
    <li><b>[SHIFT]+[0-9]\[0]\[-]\[=]:</b> Rotate the "perspective" of the ringing room to put that bell
        in the lower right corner so it may be rung by [SPACE] or [j].</li>
    <li><b>[1-9], [0], [-], [=]:</b> Rings bells 1 - 9, 10, 11, and 12</li>
    <li><b>[SHIFT]+[s]</b> Set all bells at hand.</li>
</ul>

<p>You may wish to change the number of bells in the tower, or whether you are in ringing tower bells or handbells. This can be achieved by selecting the desired option in the tower controls on the left-hand side. On smaller screens, it may be accessed by clicking "Controls" in the top-right. Also available in the tower controls are a button to set all bells at hand, a volume slider, a list of users, and a chat box. You will also see the button labelled "Assign Bells"; this will be covered in the <a href="#assigning">Advanced Features</a> section.</p>

<p>Please be sure to read our <a href="{{url_for('code_of_conduct')}}">Code of Conduct</a> and abide by it in the chat; there is a link to report any violations of that to us below the chat box. You will only receive messages sent to the tower while you are in the tower. Messages are not saved when you exit the tower.</p>

<h4>Making calls</h4>

<p>There are also hot-keys to trigger aural and visual notification for various calls, but be aware that in some browsers using these results in the sound of the bells being interrupted.</p>

<ul>
    <li><b>[l]</b>ook to...</li>
    <li><b>[g]</b>o next time</li>
    <li><b>[b]</b>ob</li>
    <li>si<b>[n]</b>gle</li>
    <li>t<b>[h]</b>at's all</li>
    <li>s<b>[t]</b>and next</li>
</ul>

<h4>Leaving a tower</h4>

<p>If you're logged in, you will see a "Leave Tower" button by the chat box in the control panel. Clicking this will remove you from the tower and send you back to the Ringing Room homepage.</p>

<h2><a id="advanced_features"></a>Advanced Features</h2>

<ul>
    <li><a href="#assigning">Assigning ringers to bells</a></li>
    <li><a href="#managing_towers">Managing your towers</a></li>
    <li><a href="#host_mode">Hosts and Host Mode</a></li>
    <li><a href="#listener_links">Listener links</a></li>
    <li><a href="#simulators">Handbell and Towerbell Simulators</a></li>
</ul>

<h4><a id="assigning"></a>Assigning ringers to bells</h4>

<p>The tower controls include a list of users presently in the tower, which you can use to <i>assign bells</i> to particular ringers. To assign ringers, press the "Assign Bells" button to enter bell assignment mode. While in this mode, you may select any ringer from the user list by clicking on them, and then click on the box next to the bell you want to assign them to. Clicking the "x" by a user's name will unassign them from that bell. While in assignment mode, you can't ring any bells; when you're done assigning bells, click the "Stop Assigning" button to return to normal mode.</p>

<p>Assigning a user to a bell will have the effect of automatically rotating that ringer's "perspective" on the tower so that the bell is placed in the bottom right position. This will allow it to be rung using the [SPACE] or [j] hotkeys. If a user is assigned to multiple bells, the lowest-numbered one will be placed in position; this means that if the user is assigned to exactly 2 bells, those bells will be ringable with [f] and [j].</p>

<h4><a id="managing_towers"></a>Managing your towers</h4>

<p>The My Towers page, available from the user menu in the top right, allows you to see and manage all your towers. There are four tabs available:</p>

<ul>
    <li><b>Recent</b> shows a reverse-chronological list of towers that you have visited.</li>
    <li><b>Bookmarks</b> shows a list of all towers that you have specifically bookmarked.</li>
    <li><b>Created</b> shows a list of all towers that you have created.</li>
    <li><b>Host</b> shows a list of towers at which you are a host (see below).</li>
</ul>

<p>From any of these tabs, you may:</p>


<ul>
    <li>Click the Bookmark icon (<i class="fa-fw far fa-bookmark" style="font-size:1rem;"></i>) to add or remove the tower from your list of bookmarks. Your bookmarked towers will show up in the user menu as well as on the Bookmarks tab of the My Towers page, allowing you to access them quickly. (You can also bookmark towers directly from the tower page by clicking the icon next to the tower name.)</li>
    <li>Click the tower name to go to that tower.</li>
    <li>Click the copy icon (<i class="fa-fw far fa-clipboard" style="font-size:1rem;"></i>) to copy the tower ID number.</li>
    <li><i>If you are the tower's creator:</i> Click the Settings button to access the Tower Settings page, where you can change the tower name, enable Host Mode and add or remove hosts, or permanently delete the tower.</li>
    <li><i>On the Recent tab only:</i> Click the Remove from Recent button to remove the tower
        from the list of recently-visited towers.</li>
</ul>

<p>Only tower creators have access to the Settings page for that tower. The Delete Tower button allows you to permanently delete the tower; all ringers will lose access to that tower, not just you. The Change Name field allows you to modify the tower name. Finally, the Tower Hosts list shows all of the hosts at that tower, and allows you to enter the email address of a Ringing Room user to add them as a host. For more about tower hosts, see below.</p>

<h4><a id="host_mode"></a>Hosts and Host Mode</h4>


<p>Host Mode is a special mode that can be enabled for towers in order to restrict who can direct the ringing at that tower. To enable Host Mode, go to the Tower Settings page and set the "Permit Host Mode" feature to "Yes".</p>

<p>A <i>tower host</i> is someone who has special privileges at a Ringing Room virtual tower. You can think of this as being like a tower captain or a ringing master: A host is someone who might take charge of a practice. A tower can have multiple hosts who can share responsibility for running practices. You can add hosts to towers that you have created by going to the My Towers page, finding the tower you want, clicking the Settings button, and entering the email address of the Ringing Room account you want to add as a host in the box at the bottom left. You can remove hosts from a tower by clicking the "X" icon in the list of tower hosts. The creator of a tower is always a host there.</p>

<p>If Host Mode is permitted at a tower, hosts have an extra switch in the tower controls on the left-hand side, allowing them to enable or disable Host Mode. When a tower is in Host Mode, various restrictions are imposed:</p>

<ul>
    <li>Non-hosts may not change the number of bells or switch between handbell and towerbell mode.</li>
    <li>Non-hosts may only make calls using the in-app hotkeys when assigned to a bell.</li>
    <li>All ringers may only ring bells that they are assigned to.</li>
    <li>Only hosts may assign other ringers to bells.</li>
    <li>Non-hosts may assign themselves to open bells only — that is, they can "catch hold" of
        unused bells, but not displace other ringers.</li>
</ul>

<p>Host mode can be activated or deactivated by any hosts currently in the tower. If there are no hosts present, host mode will automatically be disabled so that ringing can proceed normally.</p>

<h4><a id="listener_links"></a>Listener links</h4>

<p>If you append "/listen" to the link of any tower, the resulting page will be a "listen-only" version of the tower appropriate for sending to anyone who wishes to observe the ringing without risking disturbing the band. (For example, if you have the tower ID '1234' and name 'Example', then the link "ringingroom.com/1234/example/listen" will go to the listen-only page.)</p>


<h4><a id="simulators"></a>Handbell and Towerbell Simulators</h4>

<p>Graham John's <a href="https://handbellmanager.changeringing.co.uk/">Handbell Manager</a> has been adapted for use with Ringing Room, and supports using both Android phones and iPhones as simulated handbells. Contributors to this project include Richard Johnston, Adrian Nash, Mike Pidd, and David Wilson. You can read more about this at Richard's site <a href="http://ringingtraining.pbworks.com/w/page/139440417/Handbell%20Manager%20for%20Ringingroom">here</a>.</p>

<p>Richard Johnston has also built an interface that allows towerbell simulators connected via serial port to be used with Ringing Room. There's more information available on his website <a href="http://ringingtraining.pbworks.com/w/page/139497975/Interface%20for%20Ringingroom_com%20for%20Towerbell%20simulators?mode=embedded">here</a>.</p> 

<p>Tom Farthing has developed a Python script for those who have simulated handbells with a serial port input. This is definitely a "batteries not included" setup; if you're not comfortable with scripting in Python and working on the command-line, this probably isn't for you. But if you meet that description, you can download the necessary files <a href="static/downloads/serial-port-handbell-simulator.zip" download>here</a>.

<p> Finally, there is also support for using mobile phones as handbell simulators. Richard Johnston has created a program for using Android phones this way, available <a href="http://ringingtraining.pbworks.com/w/page/139678398/Mobile_phone_input_for_Ringing_Room?mode=embedded">here</a>. On the iOS App Store, David Wilson has developed the Minibell app, which offers similar functionality (among many other useful functions). </p>

<h2><a id="faq"></a>Frequently Asked Questions / Known Bugs</h2>

<ul>
    <li><a href="#reporting">How do I report performances to BellBoard?</a></li>
    <li><a href="#persistent_names">What can I do if usernames persist in the tower after people have left?</a></li>
    <li><a href="#echo">How can I keep the bells from double-clappering / echoing?</a></li>
    <li><a href="#hotkey_trouble">Why aren't the hot-keys working for me?</a></li>
    <li><a href="#devices">Why doesn't Ringing Room work on my device?</a></li>
    <li><a href="#lag">Why are the bells lagging?</a></li>
</ul>

<h4><a id="reporting"></a>How do I report performances on Ringing Room to BellBoard?</h4>

<p>We encourage reporting significant Ringing Room performances on BellBoard. The Ringing World has published a set of <a href="https://bb.ringingworld.co.uk/news-story.php?id=1584">guidelines</a> for how to report distributed performances, including Ringing Room ones. We highly encourage you to donate to the Ringing World with your performance submissions, if you are financially able to do so.</p>

<p>Additionally, ringers should be aware that Ringing Room performances do not comply with all of performance norms given in the <a href="https://cccbr.github.io/method_ringing_framework/reporting.html">CCCBR Framework for Method Ringing</a>, and as such this should be clearly stated in the BellBoard submission. At minimum, you should report that the performance was rung using key presses (unless you were using handbell simulators as described above) and simulated bell sounds.</p>

<h4><a id="persistent_names"></a>What can I do if usernames persist in the tower after people have left?</h4>

<p>For the moment, we recommend that everyone use the "Leave Tower" button to end a ringing session. This will prevent this issue from happening. In the event that a name does get "stuck", all towers are cleared out after 12 hours of inactivity, so probably by the time you come back the next day the name should be gone.</p>

<h4><a id="echo"></a>How can I keep the bells from double-clappering/echoing?</h4>

<p>First, make sure everyone is wearing headphones. If that doesn't fix the issue, you are encountering
a known issue in some browsers. Restarting or refreshing your browser may help. The cause of this bug is
not yet identified.</p>

<h4><a id="hotkey_trouble"></a>Why aren't the hot-keys working for me?</h4>

<p> Are you using Edge? Old versions of Microsoft Edge handle keyboard signals differently than other browsers. Please update to the newest version if possible.</p>

<h4><a id="devices"></a>Why doesn't Ringing Room work on my phone/iPad/...</h4>

<p> A known problem, but one that's pretty hard to fix without building a dedicated app. At the moment, it's best to use a desktop or laptop.</p>

<h4><a id="lag"></a>Why are the bells lagging?</h4>

<p>This is almost certainly caused by a slow internet connection. The bells ring when your computer receives information from a server. If your internet connection is slow, you will receive the bell ringing events late — potentially even after they have happened for other people. The best fix is a better internet connection; maybe try wired!</p>

<p>If you're the tech-y sort and would like to quantify the matter, you can check your ping to the server by typing `ping ringingroom.com' into your terminal. A ping of 20-40ms is ideal. Higher than 80 will begin to be problematic.</p>

{% endblock %}
