{% extends "base.html" %}

{% block app_content %}

<h1>Reset Password</h1>


<form action="" method="post" novalidate>
    {{form.hidden_tag()}}

<div class="form-row align-items-center">

    <div class="col-3 col-form-label">
            {{ form.email.label }}
    </div>
    <div class="col-9">
        <div class="input-group">
            {{ form.email(size=32, class="form-control") }}
            <div class="input-group-append">
                {{ form.submit(class="btn btn-outline-primary") }}
            </div>
        </div>
    </div>

</div>

{% endblock %}
