{% extends "base.html" %}

{% block app_content %}


<h1>Reset Your Password</h1>

{% if token_success %}

<form action="" method="post">
    {{form.hidden_tag()}}

<div class="form-group">
    {{ form.password.label }}
    {{ form.password(size=32, class="form-control") }}
    {% for error in form.password.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
</div>

<div class="form-group">
        {{form.password2.label}}
    <div class="input-group">
        {{ form.password2(size=32, class="form-control") }}
        <div class="input-group-append">
            {{ form.submit(class="btn btn-outline-primary") }}
        </div>
    </div>
    {% for error in form.password2.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
</div>

</div>

</form>

{% else %}

The password reset link you clicked was invalid. The link expires 24 hours after the email was sent, so you may need to resend it.


{% endif %}

{% endblock %}
