<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="en">
	<title>Ringing Room — {{ tower_name }}</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162521976-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-162521976-1');
    </script>
    <!-- external resources -->
	<script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
	<script src="https://www.unpkg.com/howler@2.1.3/dist/howler.core.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>

    <!-- internal resources -->
    {% assets "js_rr" %}
    <script type="module" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "css_rr" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></link>
    {% endassets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
	<!-- Favicon nonsense -->
	<link rel="icon" type="image/png" href="{{url_for('static', filename = 'images/favicon/favicon-196x196.png')}}" sizes="196x196" />
	<link rel="icon" type="image/png" href="{{url_for('static', filename = 'images/favicon/favicon-96x96.png')}}" sizes="96x96" />
	<link rel="icon" type="image/png" href="{{url_for('static', filename = 'images/favicon/favicon-32x32.png')}}" sizes="32x32" />
	<link rel="icon" type="image/png" href="{{url_for('static', filename = 'images/favicon/favicon-16x16.png')}}" sizes="16x16" />
	<link rel="icon" type="image/png" href="{{url_for('static', filename = 'images/favicon/favicon-128.png')}}" sizes="128x128" />
</head>

<body onbeforeunload="leave_room">
	<div>
		<div id="bell_circle">
			<!-- app will go here -->
		</div>
	</div>
</body>

</html>
