<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{tower.name}} — Ringing Room</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162521976-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-162521976-1');
    </script>
    <!-- external resources -->
	<script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
	<script src="https://www.unpkg.com/howler@2.1.3/dist/howler.core.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>
    <script src="https://kit.fontawesome.com/b8eb96aee8.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <!-- bind tower data -->
    <script>
        window.tower_parameters = {
            id: parseInt({{tower.tower_id}}),
            name: "{{tower.name | safe}}",
            audio: "{{tower.audio}}",
            size: parseInt({{tower.n_bells}}),
            observers: parseInt({{tower.observers}}),
            assignments: {{tower.assignments_as_list() | safe }},
            sizes_available: {{ tower.sizes_available }},
            cur_user_id: "{{user_id}}",
            cur_user_name: "{{user_name}}",
            cur_user_email: "{{user_email}}",
            anonymous_user: {{'true' if current_user.is_anonymous or listen_link else 'false'}},
            user_token: "{{user_token}}",
            host_mode_permitted: {{'true' if tower.host_mode_enabled else 'false'}},
            host_mode: {{'true' if tower.host_mode else 'false'}},
            host_permissions: {{'true' if host_permissions else 'false'}},
            half_muffled: {{'true' if tower.half_muffled else 'false'}},
            bookmarked: {{'true' if current_user.is_authenticated and current_user.bookmarked(tower.tower_id) else 'false'}},
            listen_link: {{'true' if listen_link else 'false'}},
            server_ip: "{{server_ip}}",
        };
    </script>
    <!-- internal resources -->
    {% assets "js_rr" %}
    <script type="module" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "css_rr" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></link>
    {% endassets %}

	<!-- Favicon nonsense -->
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="static/images/favicon/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/images/favicon/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/images/favicon/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/images/favicon/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="static/images/favicon/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="static/images/favicon/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="static/images/favicon/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="static/images/favicon/apple-touch-icon-152x152.png" />
<link rel="icon" type="static/images/favicon/png" href="static/images/favicon/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="static/images/favicon/png" href="static/images/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="static/images/favicon/png" href="static/images/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="static/images/favicon/png" href="static/images/favicon/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="static/images/favicon/png" href="static/images/favicon/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="Ringing Room"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-Tileimages" content="static/images/favicon/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="static/images/favicon/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="static/images/favicon/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="static/images/favicon/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="static/images/favicon/mstile-310x310.png" />

</head>

<body onbeforeunload="leave_room">
    <div class="custom-control custom-switch d-none">
      <input type="checkbox" class="custom-control-input" id="darkSwitch" />
      <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
    </div>
    <script src="static/dark-mode-switch/dark-mode-switch.min.js"></script>
    <div class="container-fluid"
      id="global_wrapper">
		<div id="bell_circle">
			<!-- app will go here -->
		</div>
	</div>
    <div id="report_box"></div>
    <!-- Modal -->
    <div class="modal fade" id="code_of_conduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Code of Conduct</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              {% include '_code_of_conduct.html' %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</body>

</html>
