<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{tower.name}} — Ringing Room</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162521976-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-162521976-1');
    </script>
    <!-- external resources -->
	<script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
	<script src="https://www.unpkg.com/howler@2.1.3/dist/howler.core.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>
    <script src="https://kit.fontawesome.com/b8eb96aee8.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <!-- bind tower data -->
    <script>
        window.tower_parameters = {
            id: parseInt({{tower.tower_id}}),
            name: "{{tower.name | safe}}",
            audio: "{{tower.audio}}",
            size: parseInt({{tower.n_bells}}),
            observers: parseInt({{tower.observers}}),
            assignments: {{tower.assignments_as_list() | safe }},
            cur_user_name: "{{user_name}}",
            anonymous_user: {{'true' if current_user.is_anonymous or listen_link else 'false'}},
            user_token: "{{user_token}}",
            listen_link: {{'true' if listen_link else 'false'}},
            server_ip: "{{server_ip}}",
        };
    </script>
    <!-- internal resources -->
    {% assets "js_rr" %}
    <script type="module" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "css_rr" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></link>
    {% endassets %}
	<!-- Favicon nonsense -->
	<link rel="icon" type="image/png" href="{{url_for('static', filename = 'images/favicon/favicon-196x196.png')}}" sizes="196x196" />
	<link rel="icon" type="image/png" href="{{url_for('static', filename = 'images/favicon/favicon-96x96.png')}}" sizes="96x96" />
	<link rel="icon" type="image/png" href="{{url_for('static', filename = 'images/favicon/favicon-32x32.png')}}" sizes="32x32" />
	<link rel="icon" type="image/png" href="{{url_for('static', filename = 'images/favicon/favicon-16x16.png')}}" sizes="16x16" />
	<link rel="icon" type="image/png" href="{{url_for('static', filename = 'images/favicon/favicon-128.png')}}" sizes="128x128" />
</head>

<body onbeforeunload="leave_room">
	<div class="container-fluid"
      id="global_wrapper">
		<div id="bell_circle">
			<!-- app will go here -->
		</div>
	</div>
</body>

</html>
