{% extends "base.html" %}

{% block title %} Tower Settings{% endblock %}

{% block app_content %}

<form action="" method="post" novalidate>
    {{form.hidden_tag()}}

<h1>Tower settings: {{ tower.name }}</h1>

<small class="form-text text-muted">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

</small>

<hr class="mb-5">



{% if current_user.check_permissions(tower.tower_id) %}



<small class="form-text text-muted">
    To change the tower name, enter the name and then press 'Save Changes'.
   </small>

<div class="form-row mt-2">

    <div class="form-group col-6">
        {{ form.tower_name.label }}
        {{ form.tower_name(size=32, class="form-control")}}
    </div>

</div>


<div class="form-group">
    {{ form.submit(class="btn btn-outline-primary") }}
</div>
</form>

<form action="" method="post" novalidate>
    {{delete_form.hidden_tag()}}

<div class="form-group">
    {{delete_form.delete(class="btn btn-primary",onclick="return confirm('Are you sure you want to delete this tower?');")}}
</div>

</form>

{% else %}

You don't have permission to modify this tower's settings. Please contact the tower administrator.


{% endif %}

{% endblock %}
