{% extends "base.html" %}

{% block title %} {{ current_user.username }} {% endblock %}

{% block app_content %}

<form action="" method="post" novalidate>
    {{form.hidden_tag()}}

<h1>User settings: {{ current_user.username }}</h1>

<hr>

<h3>Change password:</h3>


<div class="form-group">
    {{ form.password.label }}
    {{ form.password(size=32, class="form-control") }}
</div>

<div class="form-group">
    {{ form.new_password.label }}
    {{ form.new_password(size=32, class="form-control") }}
</div>

<div class="form-group">
    {{ form.new_password2.label }}
    {{ form.new_password2(size=32, class="form-control") }}
</div>

{{ form.submit(class="btn btn-primary") }}

</form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

{% endblock %}
